{% extends "base.html" %}
{% load bootstrap4 %}

{% block content %}
    <div class="row">
        <div class="col" style="width: 100%;">
            <h4>Estudiantes</h4>
                <form action="{{request.get_full_path}}" method="get" class="form">
                    <div class="row">
                        <div class="input-field col s6">
                            <i class="material-icons prefix">search</i>
                            <input name="q" id="id_buscador" type="text" value="{{ request.GET.q }}">
                            <label for="id_buscador">Buscador...</label>
                            <span style="margin-top:-1em;" class="helper-text" data-error="wrong" data-success="right">Apellido, Nombre, Carrera</span>
                        </div>
                        {% if request.GET.q %}
                            <div class="input-field col s4">
                                <a href="{{request.path}}"><i class="material-icons prefix">clear</i></a>
                            </div>
                        {% endif %}
                    </div>
                </form>
            <table class="table table-sm table-hover">
                <thead>
                    <tr>
                        <th>Apellido</th>
                        <th>Nombre</th>
                        <th>Carrera</th>
                        <th>Progreso</th>
                        <th>Email</th>
                    </tr>
                </thead>
                <tbody>
                    {% for alumno in alumno_list %}
                        <tr class="table-row" data-href="{% url 'alumno-detail-comision-pasantias' alumno.numero_registro %}">
                            <td>
                                {{ alumno.user.last_name }}
                            </td>
                            <td>
                                {{ alumno.user.first_name }}
                            </td>
                            <td>
                                {{ alumno.carrera }}
                            </td>
                            <td style="text-align: left;">
                                {{ alumno.progreso }}
                            </td>
                            <td>
                                {{ alumno.user.email }}
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
            <div align="center">{% bootstrap_pagination alumno_list size="small" pages_to_show=5 %}</div>
        </div>
    </div>
{% endblock %}