{% extends "base.html" %}
{% load material_form %}

{% block content %}
    <div class="row">
        <div class="col">
            <h4>Comisi&oacute;n de Carrera</h4>
            <br>
            <form method="post" class="form">
                {% csrf_token %}
                {% form form=carrera_form %}{% endform %}
                {% form form=user_form %}{% endform %}
                {% form form=subcomision_carrera_form %}{% endform %}
                <br>
                <button type="submit" class="btn btn-primary btn-md" style="float: left;margin-right:1em;margin-bottom:1em;">Guardar</button>
                <a href="#" onclick="history.back();return false"><button class="btn btn-outline-primary btn-md" type="button" style="float: left;">Atr&aacute;s</button></a>
                <a href="{% url 'eliminar-carrera-comision-pasantias' carrera_form.instance.pk %}?next=/comision_pasantias/carreras"><button style="float: right;" class="btn btn-outline-danger btn-md" type="cancel" onClick="javascript: return confirm('¿Est&aacute; seguro que desea ELIMINAR esta carrera?');">Eliminar</button></a>
            </form>
        </div>
    </div>
{% endblock %}