{% extends "base.html" %}
{% load bootstrap4 %}

{% block content %}
    {{ subcomision_carrera_form.media }}
    <div class="row">
        <div class="col">
            <h2>Carrera: {{ carrera_form.instance.nombre }} </h2>
            <hr>
            <form method="post" class="form">
                {% csrf_token %}
                {% bootstrap_form carrera_form %}
                {% bootstrap_form user_form %}
                <div class="row">
                    <div class="col">
                        {% bootstrap_form subcomision_carrera_form show_label=False %}
                    </div>
                </div>
                {% buttons %}
                    <br>
                    <button type="submit" class="btn btn-primary btn-md" style="float: left;margin-right:1em;margin-bottom:1em;">Guardar</button>
                    <a href="#" onclick="history.back();return false"><button class="btn btn-outline-primary btn-md" type="button" style="float: left;">Atr&aacute;s</button></a>
                    <a href="{% url 'eliminar-carrera-comision-pasantias' carrera_form.instance.pk %}?next=/comision_pasantias/carreras"><button `style="float: right;"` class="btn btn-outline-danger btn-md" type="button" onClick="javascript: return confirm('¿Est&aacute; seguro que desea ELIMINAR esta carrera?');">Eliminar</button></a>
                {% endbuttons %}
            </form>
        </div>
    </div>
{% endblock %}