{% extends "base.html" %}
{% load bootstrap4 %}

{% block content %}
    {{ subcomision_carrera_form.media }}
    <div class="row">
        <div class="col">
            <h2>Nueva Carrera</h2>
            <hr>
            <form method="post" class="form">
                {% csrf_token %}
                {% bootstrap_form carrera_form %}
                {% bootstrap_form user_form %}
                <div class="row">
                    <div class="col">
                        {% bootstrap_form subcomision_carrera_form show_label=False %}
                    </div>
                </div>
                {% buttons %}
                    <br>
                    <button type="submit" class="btn btn-primary btn-md">Guardar</button>
                {% endbuttons %}
            </form>
        </div>
    </div>
{% endblock %}