{% extends "base.html" %}
{% load bootstrap4 %}

{% block content %}
    {{ comision_pasantias_form.media }}
    <div class="row">
        <div class="col">
            <h2>Editar Perfil</h2>
            <hr>
            <form method="post" class="form">
                {% csrf_token %}
                {% bootstrap_form user_form %}
                <div class="row">
                    <div class="col">
                        {% bootstrap_form comision_pasantias_form show_label=False %}
                    </div>
                </div>
                {% buttons %}
                    <br>
                    <button type="submit" class="btn btn-primary btn-md">Guardar</button>
                    <a href="/accounts/password_change"><button class="btn btn-outline-primary btn-md" type="button" style="float: right;">Cambiar Contrase&ntilde;a</button></a>
                {% endbuttons %}
            </form>
        </div>
    </div>
{% endblock %}