{% extends "base.html" %}
{% load material_form %}

{% block content %}
    {{ comision_pasantias_form.media }}
    <div class="row">
        <div class="col m4">
            <h4>Editar Perfil</h4>
            <br>
            <form method="post" class="form">
                {% csrf_token %}
                {% form form=comision_pasantias_form %}{% endform %}
                <br>
                <button type="submit" class="btn btn-primary btn-md">Guardar</button>
                <a href="/accounts/password_change"><button class="btn btn-outline-primary btn-md" type="button" style="float: right;">Cambiar Contrase&ntilde;a</button></a>
            </form>
        </div>
    </div>
{% endblock %}