{% extends "base.html" %}
{% load bootstrap4 %}
{% block content %}
    <div class="row">
        <div class="col" style="width: 100%;">
            <div>
                <h4>Empresas
                    <a href="{% url 'nueva-empresa-comision-pasantias' %}?next={{ request.path }}">
                        <button style="display: inline-block; float: right;" type="submit" class="btn btn-primary btn-md">Nueva Empresa</button>
                    </a>
                </h4>
            </div>
            <table class="table table-sm table-hover">
                <thead>
                    <tr>
                        <th>Nombre</th>
                        <th>Email</th>
                        <th>Cantidad de postulados</th>
                        <th>Cantidad de pasantes</th>
                    </tr>
                </thead>
                <tbody>
                    {% for empresa in empresa_list %}
                        <tr>
                            <td>
                                {{ empresa.nombre_fantasia }}
                            </td>
                            <td>
                                {{ empresa.user.email }}
                            </td>
                            <td>
                                {{ empresa.get_cantidad_de_postulados }}
                            </td>
                            <td>
                                {{ empresa.get_cantidad_de_pasantes }}
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
            <div align="center" style="display: -webkit-box;">{% bootstrap_pagination empresa_list size="small" pages_to_show=5 %}</div>
        </div>
    </div>
{% endblock %}