{% extends "base.html" %}
{% load bootstrap4 %}

{% block content %}
    <div class="row">
        <div class="col">
            <h2>Entrevista a {{ entrevista.alumno.user.first_name }} {{ entrevista.alumno.user.last_name }}</h2>
            <form method="post" class="form">
                {% csrf_token %}
                {% bootstrap_form form %}
                {% buttons %}
                    <br>
                    <button type="submit" class="btn btn-primary btn-md">Guardar</button>
                {% endbuttons %}
            </form>
        </div>
    </div>
{% endblock %}