{% extends "base.html" %}
{% load bootstrap4 %}
{% load material_form %}

{% block content %}
    <div class="row">
        <div class="col" style="width: 100%;">
            <div>
                <h4>Pasant&iacute;as
                    <a href="{% url 'nueva-pasantia-comision-pasantias' %}?next={{ request.path }}">
                        <button style="display: inline-block; float: right;" type="submit" class="btn btn-primary btn-md">Nueva Pasant&iacute;a</button>
                    </a>
                </h4>
            </div>
            <table class="table table-sm table-hover">
                <thead>
                    <tr>
                        <th>Alumno</th>
                        <th>Empresa</th>
                        <th>Carrera</th>
                        <th>Fecha de inicio</th>
                        <th>Fecha de fin</th>
                        <th>Tutor Docente</th>
                    </tr>
                </thead>
                <tbody>
                    {% for pasantia in pasantia_list %}
                        <tr class="table-row" data-href="{% url 'pasantia-detail-comision-pasantias' pasantia.pk %}?next={{ request.path }}">
                            <td>
                                {{ pasantia.alumno }}
                            </td>
                            <td>
                                {{ pasantia.empresa }}
                            </td>
                            <td>
                                {{ pasantia.alumno.carrera }}
                            </td>
                            <td>
                                {{ pasantia.fecha_inicio }}
                            </td>
                            <td>
                                {{ pasantia.fecha_fin }}
                            </td>
                            <td>
                                {% if pasantia.tutor_docente %}
                                    {{ pasantia.tutor_docente }}
                                {% endif %}
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
            <div align="center">{% bootstrap_pagination pasantia_list size="small" pages_to_show=5 %}</div>
        </div>
    </div>
{% endblock %}