{% extends "base.html" %}
{% load bootstrap4 %}

{% block content %}
    {{ form.media }}
    <div class="row">
        <div class="col">
            <h2>Pasant&iacute;a de {{ pasantia.entrevista.alumno.user.first_name }} {{ pasantia.entrevista.alumno.user.last_name }}</h2>
            <form method="post" class="form">
                {% csrf_token %}
                {% bootstrap_form form %}
                {% buttons %}
                    <br>
                <button type="submit" class="btn btn-primary btn-md" style="float: left;margin-right:1em;margin-bottom:1em;">Guardar</button>
                <a href="#" onclick="history.back();return false"><button class="btn btn-outline-primary btn-md" type="button" style="float: left;">Atr&aacute;s</button></a>
                <a href="{% url 'eliminar-pasantia-comision-pasantias' pasantia.pk %}?next={{ request.GET.next }}"><button style="float: right;" class="btn btn-outline-danger btn-md" type="button" onClick="javascript: return confirm('¿Est&aacute; seguro que desea ELIMINAR esta pasantia?\nLa informacion no se podra recuperar!');">Eliminar</button></a>
                {% endbuttons %}
            </form>
        </div>
    </div>
{% endblock %}