{% extends "base.html" %}
{% load bootstrap4 %}
{% block content %}
    <div class="row">
        <div class="col">
            <h2>Puestos Ofrecidos</h2>
            <table class="table table-sm table-hover">
                <thead>
                    <tr>
                        <th>Puesto</th>
                        <th>Empresa</th>
                        <th>Descripci&oacute;n</th>
                        <th>Cantidad de Alumnos Postulados</th>
                    </tr>
                </thead>
                <tbody>
                    {% for puesto in puesto_list %}
                        <tr data-link="row" class="rowlink">
                            <td>
                                <a href="{% url 'puesto-detail-alumno' puesto.pk %}">{{ puesto.nombre }}</a>
                            </td>
                            <td>
                                {{ puesto.empresa }}
                            </td>
                            <td>
                                {{ puesto.horario }}
                            </td>
                            <td>
                                {{ puesto.get_cantidad_alumnos }}
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
            <div align="center" style="display: -webkit-box;">{% bootstrap_pagination puesto_list size="small" pages_to_show=5 %}</div>
        </div>
    </div>
{% endblock %}