{% extends "base.html" %}
{% load bootstrap4 %}
{% block content %}
    <div class="row">
        <div class="col" style="width: 100%;">
            <h4>Puestos Ofrecidos</h4>
            <table class="table table-sm table-hover">
                <thead>
                    <tr>
                        <th>Puesto</th>
                        <th>Empresa</th>
                        <th>Rentado
                        <th>Cantidad de Postulados</th>
                        <th>Horario</th>
                    </tr>
                </thead>
                <tbody>
                    {% for puesto in puesto_list %}
                        <tr class="table-row" data-href="{% url 'puesto-detail-comision-pasantias' puesto.pk %}">
                            <td>
                                {{ puesto.get_nombre_display }}
                            </td>
                            <td>
                                {{ puesto.empresa }}
                            </td>
                            <td style="text-align: left;">
                                {% if puesto.rentado %} <i class="material-icons">check</i> {% else %} <i class="material-icons">close</i> {% endif %}
                            </td>
                            <td>
                                {{ puesto.get_cantidad_alumnos }}
                            </td>
                            <td>
                                {{ puesto.horario }}
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
            <div align="center" style="display: -webkit-box;">{% bootstrap_pagination puesto_list size="small" pages_to_show=5 %}</div>
        </div>
    </div>
{% endblock %}