{% extends "base.html" %}
{% load bootstrap4 %}
{% block content %}
    <div class="row">
        <div class="col" style="width: 100%;">
            <div>
                <h4>Tutores
                    <a href="{% url 'nuevo-tutor-comision-pasantias' %}?next={{ request.path }}">
                        <button style="display: inline-block; float: right;" type="submit" class="btn btn-primary btn-md">Nuevo Tutor</button>
                    </a>
                </h4>
                <form action="{{request.get_full_path}}" method="get" class="form">
                    <div class="row">
                        <div class="input-field col s6">
                            <i class="material-icons prefix">search</i>
                            <input name="q" id="id_buscador" type="text" value="{{ request.GET.q }}">
                            <label for="id_buscador">Buscador...</label>
                            <span style="margin-top:-1em;" class="helper-text" data-error="wrong" data-success="right">Nombre o Apellido del Tutor</span>
                        </div>
                        {% if request.GET.q %}
                            <div class="input-field col s4">
                                <a href="{{request.path}}"><i class="material-icons prefix">clear</i></a>
                            </div>
                        {% endif %}
                    </div>
                </form>
            </div>
            <table class="table table-sm table-hover">
                <thead>
                    <tr>
                        <th>Nombre</th>
                        <th>Empresa</th>
                        <th>Email</th>
                        <th style="white-space: nowrap;">Cantidad de pasantes</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    {% for tutor in tutor_list %}
                        <tr class="table-row" data-href="{% url 'tutor-detail-comision-pasatia' tutor.pk %}">
                            <td>
                                {{ tutor.apellido.upper }}, {{ tutor.nombre }}
                            </td>
                            <td>
                                {{ tutor.empresa.nombre_fantasia }}
                            </td>
                            <td>
                                {{ tutor.mail }}
                            </td>
                            <td>
                                {{ tutor.get_cantidad_de_pasantes }}
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
            <div align="center">{% bootstrap_pagination tutor_list size="small" pages_to_show=5 %}</div>
        </div>
    </div>
{% endblock %}