{% extends 'base.html' %}
{% load bootstrap4 %}


{% block title %}Registration{% endblock %}

{% block content %}
<div class="row">
    <div class="col">
        <h2>Felicitaciones!</h2>
        <h3>Completaste satisfactoriamente el registro.</h3>
        <br><br>
        <p>Hacé click en el botón <b><a href="http://pasantia-practica-profesional.dirinfo.unsl.edu.ar/accounts/login/" style="color: blue;">INICIAR SESI&Oacute;N</a></b> para ingresar al sistema.</p>
        <hr>
    </div>
</div>
{% endblock %}