<!-- templates/django_registration/registration_form.html -->
{% extends 'base.html' %}
{% load bootstrap4 %}


{% block title %}Registration{% endblock %}

{% block content %}
<div class="row">
    <div class="col">
        <h3>Ya falta menos!</h3>
        <h4> Te enviamos un e-mail para completar el registro. Tenés 24 horas para activar la cuenta entes de su vencimiento, una vez pasado ese tiempo, deberás volver a cargar el formulario para poder registrarte.</h4>
        <hr>
    </div>
</div>
{% endblock %}