<!-- templates/django_registration/registration_form.html -->
{% extends 'base.html' %}
{% load bootstrap4 %}


{% block title %}Registration{% endblock %}

{% block content %}
<div class="row">
    <div class="col">
        <h2>Registrarse</h2>
        <hr>
        <form method="post" class="form">
            {% csrf_token %}
            {% bootstrap_form form %}
            {% buttons %}
                <br>
                <button type="submit" class="btn btn-primary btn-lg">Registrar</button>
            {% endbuttons %}
        </form>
    </div>
</div>
{% endblock %}