{% extends "base.html" %}
{% load material_form %}

{% block content %}
    <div class="row">
        <div class="col m6">
            <h5>Alta de Usuario</h5>
            <form method="post" class="form" enctype="multipart/form-data">
                {% csrf_token %}
                {% form form=user_form %}{% endform %}
                {% form form=alumno_form %}{% endform %}
                <br>
                <button type="submit" class="btn btn-primary btn-md">Guardar</button>
            </form>
        </div>
    </div>
{% endblock %}