{% extends "base.html" %}
{% load material_form %}

{% block content %}
    <div class="row">
        <div class="col m6">
            <h4>Nuevo Usuario para Estudiante</h4>
            <form method="post" class="form" id="form-id" enctype="multipart/form-data">
                {% csrf_token %}
                {% form form=user_form %}{% endform %}
                {% form form=alumno_form %}{% endform %}
                <br>
                <button type="submit" class="btn btn-primary btn-md" id="save-button">Guardar</button>
                <!-- Spinner de carga oculto inicialmente -->
                  <div class="preloader-wrapper small active" id="spinner" style="display: none; margin-left: 10px;">
                    <div class="spinner-layer spinner-green-only">
                      <div class="circle-clipper left">
                        <div class="circle"></div>
                      </div>
                      <div class="gap-patch">
                        <div class="circle"></div>
                      </div>
                      <div class="circle-clipper right">
                        <div class="circle"></div>
                      </div>
                    </div>
                  </div>
            </form>
        </div>
    </div>


<script>
    $(document).ready(function() {
        $( '<i class="material-icons prefix" id="togglePassword" style="line-height: 1;">visibility_off</i>' ).insertBefore("#id_password1");
        const togglePassword = document.querySelector('#togglePassword');
        const password = document.querySelector('#id_password1');
        togglePassword.addEventListener('click', function (e) {
            const type = password.getAttribute('type') === 'password' ? 'text' : 'password';
            const icon = password.getAttribute('type') === 'password' ? 'visibility' : 'visibility_off';
            password.setAttribute('type', type);
            togglePassword.innerHTML = icon;
        });
    });

    $(document).ready(function() {
        $( '<i class="material-icons prefix" id="togglePassword2" style="line-height: 1;">visibility_off</i>' ).insertBefore("#id_password2");
        const togglePassword2 = document.querySelector('#togglePassword2');
        const password = document.querySelector('#id_password2');
        togglePassword2.addEventListener('click', function (e) {
            const type = password.getAttribute('type') === 'password' ? 'text' : 'password';
            const icon = password.getAttribute('type') === 'password' ? 'visibility' : 'visibility_off';
            password.setAttribute('type', type);
            togglePassword2.innerHTML = icon;
        });
    });

      $(document).ready(function () {
        const form = $("#form-id");
        const saveButton = $("#save-button");
        const spinner = $("#spinner");

        form.on("submit", function (event) {
          saveButton.hide();
          spinner.show();
        });
      });
</script>
{% endblock %}