{% extends "base.html" %}
{% load material_form %}

{% block content %}
    <div class="row">
        <div class="col">
            <h4>Complete con sus datos</h4>

            <form method="post" class="form" enctype="multipart/form-data">
                {% csrf_token %}
                {% form form=user_form %}{% endform %}
                {% form form=alumno_form %}{% endform %}
                <br>
                <button type="submit" class="btn btn-primary btn-md">Guardar</button>
            </form>
        </div>
    </div>


<style>
    .custom-file-label::after {
        content: "Buscar" !important;
    }
</style>

<script>
    $('.custom-file-input').on('change', function() {
   let fileName = $(this).val().split('\\').pop();
   if (!fileName) {
        $(this).next('.custom-file-label').addClass("selected").html("Nada seleccionado");
    } else {
        $(this).next('.custom-file-label').addClass("selected").html(fileName);
   }
});
</script>
{% endblock %}