{% extends "base.html" %}
{% load material_form %}

{% block content %}
    <div class="row">
        <div class="col m10">
            <h4>Mi Perfil <a href="https://www.modelos-de-curriculum.com/hacer-un-curriculum-vitae/">
                    <button style="display: inline-block; float: right;" class="btn btn-primary btn-sm">Como armar mi Curriculum?</button>
                </a></h4>
            <br>
            <form method="post" class="form" enctype="multipart/form-data">
                {% csrf_token %}
                {% form form=user_form %}{% endform %}
                {% form form=alumno_form %}{% endform %}
                    <br>
                    <button type="submit" class="btn btn-primary btn-md" name="guardar">Guardar</button>
                <a href="/accounts/password_change"><button class="btn btn-outline-primary btn-md" type="button" style="float: right;">Cambiar Contrase&ntilde;a</button></a>
            </form>
        </div>
    </div>

<script>
    $(document).ready(function() {
        {% if user.alumno_user.plan_de_estudio %}
            $( "<div class=\"col\" style=\"margin-top : -1em !important; margin-bottom : 1em\"><span style=\"font-size: 14px; margin-left: 0.4rem;\">Actualmente: <a href=\"{% url 'descarga-alumno-plan-de-estudio' user.alumno_user.pk %}\" target=\"_blank\">Plan de estudio</a><br></span></div>" ).insertAfter("#id_plan_de_estudio_container");
        {% endif %}
        {% if user.alumno_user.curriculum %}
            $( "<div class=\"col\" style=\"margin-top : -1em !important; margin-bottom : 1em\"><span style=\"font-size: 14px; margin-left: 0.4rem;\">Actualmente: <a href=\"{% url 'descarga-alumno-curriculum' user.alumno_user.pk %}\" target=\"_blank\">Curriculum</a><br></span></div>" ).insertAfter("#id_curriculum_container");
        {% endif %}
        {% if user.alumno_user.perfil %}
            $( "<div class=\"col\" style=\"margin-top : -1em !important; margin-bottom : 1em\"><span style=\"font-size: 14px; margin-left: 0.4rem;\">Actualmente: <a href=\"{% url 'descarga-alumno-perfil' user.alumno_user.pk %}\" target=\"_blank\">Perfil</a><br></span></div>" ).insertAfter("#id_perfil_container");
        {% endif %}
        {% if user.alumno_user.historia_academica %}
            $( "<div class=\"col\" style=\"margin-top : -1em !important; margin-bottom : 1em\"><span style=\"font-size: 14px; margin-left: 0.4rem;\">Actualmente: <a href=\"{% url 'descarga-alumno-historia-academica' user.alumno_user.pk %}\" target=\"_blank\">Historia Academica</a><br></span></div>" ).insertAfter("#id_historia_academica_container");
        {% endif %}
    });
</script>
{% endblock %}