{% extends "base.html" %}
{% load material_form %}

{% block content %}
    <div class="row">
        <div class="col">
            <h2>Mi Perfil</h2>
            <hr>
            <form method="post" class="form" enctype="multipart/form-data">
                {% csrf_token %}
                {% form form=user_form %}{% endform %}
                {% form form=alumno_form %}{% endform %}
                    <br>
                    <button type="submit" class="btn btn-primary btn-md" name="guardar">Guardar</button>
                <a href="/accounts/password_change"><button class="btn btn-outline-primary btn-md" type="button" style="float: right;">Cambiar Contrase&ntilde;a</button></a>
            </form>
        </div>
    </div>
{% endblock %}