{% extends "base.html" %}
{% load bootstrap4 %}
{% block content %}
    <div class="row">
        <div class="col" style="width: 100%;">
            <h4>Ofertas</h4>
            <table class="table table-sm table-hover">
                <thead>
                    <tr>
                        <th>Empresa</th>
                        <th>Área</th>
                        <th>Horario</th>
                        <th style="text-align: center;">Rentada</th>
                        <th style="text-align: center;">Postulado</th>
                    </tr>
                </thead>
                <tbody>
                    {% for puesto in puesto_list %}
                        <tr class="table-row" data-href="{% url 'puesto-detail-alumno' puesto.pk %}">
                            <td>
                                {{ puesto.empresa.nombre_fantasia }}
                            </td>
                            <td>
                                {{ puesto.get_nombre_display }}
                            </td>
                            <td>
                                {{ puesto.horario }}
                            </td>
                            <td style="text-align: center;">
                                {% if puesto.rentado %} <i class="fas fa-check"></i> {% else %} <i class="fas fa-times"></i> {% endif %}
                            </td>
                            <td style="text-align: center;">
                                {% with postulado=puesto|is_postulated:user.alumno_user.pk %}
                                {% if postulado %} <i class="fas fa-check"></i> {% else %} <i class="fas fa-times"></i> {% endif %}
                                {% endwith %}
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
            <div align="center">{% bootstrap_pagination puesto_list size="small" pages_to_show=5 %}</div>
        </div>
    </div>
{% endblock %}