{% extends "base.html" %}
{% load material_form %}

{% block content %}
    <div class="row">
        <div class="col">
            <h4>Entrevista con <a href="{% url 'puesto-detail-alumno' entrevista.entrevista_postulacion.puesto.pk %}">{{ entrevista.empresa.nombre_fantasia }}</a></h4>
                Estado:
                {% if entrevista.status == 'CAA' %}
                    <span style="color:red;">Cancelada por el alumno</span>
                {% else %}
                    {% if entrevista.status == 'CAE' %}
                        <span style="color:red;">Cancelada por la empresa</span>
                    {% else %}
                        {% if entrevista.status == 'COA' or entrevista.status == 'REA' %}
                            {% if entrevista.is_past_due or entrevista.status == 'REA' %}
                                {% if entrevista.resultado %}
                                    <span style="color:black;"> REALIZADA CON RESPUESTA </span>
                                {% else %}
                                    <span style="color:black;"> REALIZADA SIN RESPUESTA </span>
                                {% endif %}
                            {% else %}
                                <span style="color:green;"> ACTIVA </span>
                            {% endif %}
                        {% else %}
                            {% if entrevista.is_past_due %}
                                <span style="color:black;"> Se excedi&oacute; la fecha y no se confirm&oacute;</span>
                            {% else %}
                                <span style="color:orange;">A la espera de confirmación del Alumno</span>
                            {% endif %}
                        {% endif %}
                    {% endif %}
                {% endif %}
            <br>
            <br>
            <form method="post" class="form">
                {% csrf_token %}
                {% form form=form %}{% endform %}
                <form style="display: inline-flex" class="form" method="get" action="#">
                </form>
                    {% if entrevista.status != 'CAA' %}
                        {% if entrevista.status != 'CAE' %}
                            {% if entrevista.status == 'COA' or entrevista.status == 'REA' %}
                                {% if not entrevista.is_past_due and entrevista.status != 'REA' %}
                                    <form class="form" method="get" action="{% url 'alumno-entrevista-cancel' %}">
                                      {% csrf_token %}
                                      <input type="hidden" name="entrevista_id" value="{{ entrevista.id }}">
                                      <button onClick="javascript: return confirm('¿Est&aacute; seguro que desea cancelar la entrevista?');" class="btn btn-outline-danger btn-small" type="cancel" style="float: left">Cancelar</button>
                                    </form>
                                {% endif %}
                            {% else %}
                                {% if not entrevista.is_past_due %}
                                    <form style="display: inline-flex" class="form" method="get" action="{% url 'alumno-entrevista-confirm' %}">
                                        {% csrf_token %}
                                        <input type="hidden" name="entrevista_id" value="{{ entrevista.id }}">
                                        <button style="display: in-block; float: left" onClick="javascript: return confirm('¿Est&aacute; seguro que confirmará su asistencia a la entrevista?');" type="submit" class="btn">Confirmar Asistencia</button>
                                    </form>
                                    <form style="display: inline-flex" class="form" method="get" action="{% url 'alumno-entrevista-cancel' %}">
                                        {% csrf_token %}
                                        <input type="hidden" name="entrevista_id" value="{{ entrevista.id }}">
                                        <button style="display: in-block; float: left; margin-left: 0.5em;" onClick="javascript: return confirm('¿Est&aacute; seguro que desea cancelar la entrevista?');" type="cancel" class="btn">Cancelar</button>
                                    </form>
                                {% endif %}
                            {% endif %}
                        {% endif %}
                    {% endif %}
                    <a href="#" onclick="history.back();return false"><button class="btn btn-outline-primary" type="button" style="float: right; margin-left: 1em;">Atr&aacute;s</button></a>
            </form>
        </div>
    </div>
{% endblock %}