{% extends "base.html" %}
{% load bootstrap4 %}
{% block content %}
    <div class="row">
        <div class="col" style="width: 100%;">
            <h4>Entrevistas</h4>
            <table class="table table-sm table-hover">
                <thead>
                    <tr>
                        <th>Empresa</th>
                        <th>Puesto</th>
                        <th>Fecha</th>
                        <th>Estado</th>
                    </tr>
                </thead>
                <tbody>
                    {% for entrevista in entrevista_list %}
                        <tr class="table-row" data-href="{% url 'entrevista-detail-alumno' entrevista.id %}">
                            <td>
                                {{ entrevista.empresa.nombre_fantasia }}
                            </td>
                            <td>
                                {{ entrevista.entrevista_postulacion.puesto.get_nombre_display }}
                            </td>
                            <td>
                                {{ entrevista.fecha }}
                            </td>
                            <td>
                                {% if entrevista.status == 'CAA' %}
                                    <span style="color:red;">Cancelada por el alumno</span>
                                {% else %}
                                    {% if entrevista.status == 'CAE' %}
                                        <span style="color:red;">Cancelada por la empresa</span>
                                    {% else %}
                                        {% if entrevista.status == 'COA' or entrevista.status == 'REA' %}
                                            {% if entrevista.is_past_due or entrevista.status == 'REA' %}
                                                {% if entrevista.resultado %}
                                                    <span style="color:black;"> REALIZADA CON RESPUESTA </span>
                                                {% else %}
                                                    <span style="color:black;"> REALIZADA SIN RESPUESTA </span>
                                                {% endif %}
                                            {% else %}
                                                <span style="color:green;"> ACTIVA </span>
                                            {% endif %}
                                        {% else %}
                                            {% if entrevista.is_past_due %}
                                                <span style="color:black;"> Se excedi&oacute; la fecha y no confirm&oacute;</span>
                                            {% else %}
                                                <span style="color:orange;">A la espera de confirmación del Alumno</span>
                                            {% endif %}
                                        {% endif %}
                                    {% endif %}
                                {% endif %}
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
            <div align="center" style="display: -webkit-box;">{% bootstrap_pagination entrevista_list size="small" pages_to_show=5 %}</div>
        </div>
    </div>
{% endblock %}