{% extends "base.html" %}
{% load bootstrap4 %}
{% block content %}
    <div class="row">
        <div class="col" style="width: 100%;">
            <h4>Postulaciones</h4>
            <table class="table table-sm table-hover">
                <thead>
                    <tr>
                        <th>Empresa</th>
                        <th>Puesto</th>
                        <th>Fecha de Postulación</th>
                        <th>Estado Entrevista</th>
                        <th>Fecha Entrevista</th>
                    </tr>
                </thead>
                <tbody>
                    {% for postulacion in postulacion_list %}
                        <tr class="table-row" data-href="{% url 'puesto-detail-alumno' postulacion.puesto.pk %}">
                            <td>
                                {{ postulacion.puesto.empresa.nombre_fantasia }}
                            </td>
                            <td>
                                {{ postulacion.puesto.get_nombre_display }}
                            </td>
                            <td>
                                {{ postulacion.fecha }}
                            </td>
                            <td>
                            {% if postulacion.entrevista %}
                                {% if postulacion.entrevista.status == 'CAA' %}
                                    <span style="color:red;">Cancelada por el estudiante</span>
                                {% else %}
                                    {% if postulacion.entrevista.status == 'CAE' %}
                                        <span style="color:red;">Cancelada por la empresa</span>
                                    {% else %}
                                        {% if postulacion.entrevista.status == 'COA' or entrevista.status == 'REA' %}
                                            {% if postulacion.entrevista.is_past_due or entrevista.status == 'REA' %}
                                                <span style="color:black;"> REALIZADA </span>
                                            {% else %}
                                                <span style="color:green;"> ACTIVA </span>
                                                <form class="form my-2 my-sm-0" method="get" action="{% url 'alumno-entrevista-cancel' %}">
                                                  {% csrf_token %}
                                                  <input type="hidden" name="entrevista_id" value="{{ postulacion.entrevista.id }}">
                                                  <button onClick="javascript: return confirm('¿Est&aacute; seguro que desea cancelar la entrevista?');" class="btn btn-outline-danger btn-sm" type="cancel">Cancelar</button>
                                                </form>
                                            {% endif %}
                                        {% else %}
                                            {% if postulacion.entrevista.is_past_due %}
                                                <span style="color:black;"> Se excedi&oacute; la fecha y el estudiante no confirm&oacute;</span>
                                            {% else %}
                                                <span style="color:orange;">A la espera de confirmación del Estudiante</span>
                                            {% endif %}
                                        {% endif %}
                                    {% endif %}
                                {% endif %}
                            {% else %}
                                Sin entrevista generada
                            {% endif %}
                            </td>
                            <td>
                                {% if postulacion.entrevista %}
                                    {{ postulacion.entrevista.fecha }}
                                {% else %}
                                {% endif %}
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
            <div align="center">{% bootstrap_pagination postulacion_list size="small" pages_to_show=5 extra=request.GET.urlencode %}</div>
        </div>
    </div>
{% endblock %}

