{% extends "base.html" %}
{% load static %}
{% load bootstrap4 %}

{% block content %}
    <div class="row">
        <div class="col" style="width: 100%;">
            <div class="row" style="margin-bottom: 20px; align-items: center;">
                <div class="col">
                    {% if puesto.empresa.logo %}
                        <img height="120rem;" width="120rem;" src="{% url 'descarga-empresa-logo' puesto.empresa.pk %}" style="float: right; margin-right:2rem;"/>
                    {% else %}
                         <i class="far fa-user fa-4x"></i>
                    {% endif %}
                </div>
                <div class="col">
                    <h4>
                        {% if puesto.empresa.url %}
                        <a href="{{ puesto.empresa.url }}" target="_blank">{{ puesto.empresa.nombre_fantasia }}</a>
                        {% else %}
                            {{ puesto.empresa.nombre_fantasia }}
                        {% endif %}
                    </h4>
                    <h5>{{puesto.get_nombre_display}}</h5>
                </div>
            </div>
        </div>
        <div class="col m8">
                {% if puesto.descripcion_actividades %}
                    <span><b>Actividades</b>: {{puesto.descripcion_actividades}}</span><br>
                {% endif %}
                {% if puesto.conocimientos_requeridos %}
                    <span><b>Conocimientos requeridos</b>: {{puesto.conocimientos_requeridos}}</span><br>
                {% endif %}
                {% if puesto.requerimientos_adicionales %}
                    <span><b>Requerimientos adicionales</b>: {{puesto.requerimientos_adicionales}}</span><br>
                {% endif %}
                {% if puesto.horario %}
                    <span><b>Horario</b>: {{ puesto.horario }}</span><br>
                {% endif %}
                {% if puesto.rentado %}
                    <span><b>Rentado</b>: Si</span><br>
                {% else %}
                    <span><b>Rentado</b>: No</span><br>
                {% endif %}
                {% if puesto.fecha_inactivacion %}
                    <span><b>Fecha l&iacute;mite para postularse</b>: {{puesto.fecha_inactivacion}}</span><br>
                {% endif %}
                <br>
            <div class="row" style="align-items: center;display: flex;">
                <div class="col">
                {% if not puesto.activo %}
                    Este puesto ya no se encuentra disponible
                {% else %}
                    {% if not postulacion %}
                        {% if not is_available %}
                            Postulación desestimada.
                            Debe esperar hasta el {{ next_day|date:"l j" }} de {{ next_day|date:"F" }} para poder volver a postularse.
                        {% else %}
                            <form class="form my-2 my-lg-0" method="post" action="{% url 'postulaciones-create-alumno' %}" style="margin-bottom: 0px;">
                                {% csrf_token %}
                                <input type="hidden" name="puesto_id" value="{{ puesto.pk }}">
                                <button onClick="javascript: return confirm('¿Est&aacute; seguro que desea POSTULARSE para el área &#34;{{puesto.get_nombre_display}}&#34; en {{ puesto.empresa.nombre_fantasia }}?');" class="btn btn-primary btn-md" type="submit">Postularme</button>
                            </form>
                        {% endif %}
                    {% else %}
                        <form class="form my-2 my-lg-0" method="post" action="{% url 'postulaciones-delete-alumno' %}" style="margin-bottom: 0px;">
                            {% csrf_token %}
                            <input type="hidden" name="postulacion_id" value="{{ postulacion.pk }}">
                            <button onClick="javascript: return confirm('No podrá volver a postularse por 60 días en este mismo puesto.\n¿Est&aacute; seguro que desea DEJAR DE POSTULARSE para el área &#34;{{puesto.get_nombre_display}}&#34; en {{ puesto.empresa.nombre_fantasia }}?\n Si tiene una entrevista activa, la misma quedará CANCELADA!!');" class="btn btn-danger btn-md" type="cancel">Quitar postulaci&oacute;n</button>
                        </form>
                    {% endif %}
                {% endif %}
                </div>
                <div class="col">
                    <a href="#" onclick="history.back();return false"><button class="btn btn-outline-primary btn-md" type="button" style="float: right;">Atr&aacute;s</button></a>
                </div>
            </div>
            {% if alumno.condicion_acreditacion is None %}
                 <p>* Postulación sujeta a revisión por comisión de carrera</p>
            {% endif %}
        </div>
    </div>
{% endblock %}