{% extends "base.html" %}
{% load tags %}
{% block content %}
    <hr>
    <div class="row">
        <div class="col">
            <h2>Director del departamento</h2>
            <table class="table table-sm table-hover">
                <thead>
                    <tr>
                        <th>Nombre</th>
                        <th>Apellido</th>
                        <th>Mail</th>
                    </tr>
                </thead>
                <tbody>
                {% for contacto in contactos %}
                    {% if contacto|classname == "Docente" %}
                        <tr>
                            <td>{{ contacto.nombre}}</td>
                            <td>{{ contacto.apellido }}</td>
                            <td><a href="mailto:{{docente.email}}" mail>
                                <i class="fas fa-envelope"></i></a> {{ contacto.email }}</td>
                        </tr>
                    {% endif %}
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
    <br>
    <hr>
    <div class="row">
        <div class="col">
            <h2>Pasantías (contacto para cuestiones administrativas)</h2>
            <table class="table table-sm table-hover">
                <thead>
                    <tr>
                        <th>Mail</th>
                    </tr>
                </thead>
                <tbody>
                {% for contacto in contactos %}
                    {% if contacto|classname == "SubcomisionPasantiasPPS" %}
                        <tr>
                            <td><a href="mailto:{{docente.email}}" mail>
                                <i class="fas fa-envelope"></i></a> {{ contacto.user.email }}</td>
                        </tr>
                    {% endif %}
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
    <br>
    <hr>
    <div class="row">
         <div class="col">
            <h2>Carreras (por la pasantía de un alumno en particular)</h2>
            <table class="table table-sm table-hover">
                <thead>
                    <tr>
                        <th>Carrera</th>
                        <th>Mail</th>
                    </tr>
                </thead>
                <tbody>
                {% for contacto in contactos %}
                    {% if contacto|classname == "SubcomisionCarrera" %}
                        <tr>
                            <td>{{ contacto.carrera }}</td>
                            <td><a href="mailto:{{docente.email}}" mail>
                                <i class="fas fa-envelope"></i></a> {{ contacto.user.email }}</td>
                        </tr>
                    {% endif %}
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}