{% extends "base.html" %}
{% load material_form %}

{% block content %}
    <div class="row">
        <div class="col">
            <h4>Mi Perfil</h4>
            <br>
            <form method="post" class="form" enctype="multipart/form-data">
                {% csrf_token %}
                {% form form=user_form %}{% endform %}
                {% form form=empresa_form %}{% endform %}
                {% if user.empresa_user.logo %}
                    <div class="row">
                         <div class="col">
                             <span style="margin-bottom : 0rem !important; font-size: 14px; margin-left: 0.4rem; vertical-align:middle;">Actualmente:</span>
                             <img style="vertical-align:middle;" height="120rem;" width="120rem;" src="{% url 'descarga-empresa-logo' user.empresa_user.pk %}"/>
                         </div>
                    </div>
                {% endif %}
                    <br>
                    <button type="submit" class="btn btn-primary btn-md">Guardar</button>
                    <a href="/accounts/password_change"><button class="btn btn-outline-primary btn-md" type="button" style="float: right;">Cambiar Contrase&ntilde;a</button></a>
            </form>
        </div>
    </div>
{% endblock %}