{% extends "base.html" %}
{% load material_form %}

{% block content %}
    {{ form.media }}
    <div class="row">
        <div class="col">
            <h4>Ya se encuentra activa una entrevista para el estudiante</h4>
            <span style="color:orange;">Seleccione guardar si desea agregar esta postulación a la entrevista activa:</span>
            <br>
            <form method="post" class="form">
                {% csrf_token %}
                {% form form=form %}{% endform %}
                    <br>
                    <input type="hidden" name="postulacion" value="{{ request.POST.postulacion }}">
                    <button type="submit" class="btn btn-primary btn-md">Guardar</button>
            </form>
        </div>
    </div>
{% endblock %}