{% extends "base.html" %}
{% load bootstrap4 %}

{% block content %}
    {{ form.media }}
    <div class="row">
        <div class="col">
            <h2>Establecer fecha de entrevista</h2>
            <hr>
            <form method="post" class="form">
                {% csrf_token %}
                {% bootstrap_form form %}
                {% buttons %}
                    <br>
                    <input type="hidden" name="postulacion" value="{{ request.POST.postulacion  }}">
                    <button type="submit" class="btn btn-primary btn-md">Guardar</button>
                {% endbuttons %}
            </form>
        </div>
    </div>
{% endblock %}