{% extends "base.html" %}
{% load bootstrap4 %}
{% load material_form %}
{% block content %}
    <div class="row">
        <div class="col" style="width: 100%;">
            <h4>Entrevistas</h4>
            <form action="{{request.get_full_path}}" method="get" class="form">
                <div class="row">
                    <div class="input-field col s6">
                        <i class="material-icons prefix">search</i>
                        <input name="q" id="id_buscador" type="text" value="{{ request.GET.q }}">
                        <label for="id_buscador">Buscador...</label>
                        <span style="margin-top:-1em;" class="helper-text" data-error="wrong" data-success="right">Nombre o Apellido del Estudiante</span>
                    </div>
                    {% if request.GET.q %}
                        <div class="input-field col s4">
                            <a href="{{request.path}}"><i class="material-icons prefix">clear</i></a>
                        </div>
                    {% endif %}
                </div>
            </form>
            <table class="table table-sm table-hover">
                <thead>
                    <tr>
                        <th>Estudiante</th>
                        <th>Fecha</th>
                        <th>Puesto</th>
                        <th>Estado</th>
                        <th>Pasantía Aceptada</th>
                    </tr>
                </thead>
                <tbody>
                    {% for entrevista in entrevista_list %}
                        <tr class="table-row" data-href="{% url 'entrevista-detail-empresa' entrevista.id %}">
                            <td>
                                {{ entrevista.alumno.user.first_name }} {{ entrevista.alumno.user.last_name }}
                            </td>
                            <td>
                                {{ entrevista.fecha }}
                            </td>
                            <td>
                                {{ entrevista.entrevista_postulacion.puesto }}
                            </td>
                            <td>
                                {% if entrevista.status == 'CAA' %}
                                    <span style="color:red;">Cancelada por el estudiante</span>
                                {% else %}
                                    {% if entrevista.status == 'CAE' %}
                                        <span style="color:red;">Cancelada por la empresa</span>
                                    {% else %}
                                        {% if entrevista.status == 'COA' or entrevista.status == 'REA' %}
                                            {% if entrevista.is_past_due %}
                                                {% if entrevista.resultado %}
                                                    <span style="color:black;"> REALIZADA CON RESPUESTA AL ALUMNO </span>
                                                {% else %}
                                                    <span style="color:black;"> REALIZADA SIN RESPUESTA AL ALUMNO </span>
                                                {% endif %}
                                            {% else %}
                                                <span style="color:green;"> CONFIRMADA </span>
                                                <form class="form my-2 my-sm-0" method="get" action="{% url 'empresa-entrevista-cancel' %}">
                                                  {% csrf_token %}
                                                  <input type="hidden" name="entrevista_id" value="{{ entrevista.id }}">
                                                  <button onClick="javascript: return confirm('¿Est&aacute; seguro que desea cancelar la entrevista?');" class="btn-small" type="cancel">Cancelar</button>
                                                </form>
                                            {% endif %}
                                        {% else %}
                                            {% if entrevista.is_past_due %}
                                                <span style="color:black;"> Se excedi&oacute; la fecha y no se confirm&oacute;</span>
                                            {% else %}
                                                <span style="color:orange;">A la espera de confirmación del Estudiante</span>
                                            {% endif %}
                                        {% endif %}
                                    {% endif %}
                                {% endif %}
                            </td>
                            <td>
                                {% if entrevista.status == 'REA' %}
                                    {% if entrevista.pasantia_aceptada is not None %}
                                        {% if entrevista.pasantia_aceptada %}
                                            Si
                                        {% else %}
                                            No
                                        {% endif %}
                                    {% else %}
                                        No definido
                                    {% endif %}
                                {% endif %}
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
            <div align="center">{% bootstrap_pagination entrevista_list size="small" pages_to_show=5 extra=request.GET.urlencode %}</div>
        </div>
    </div>
{% endblock %}