{% extends "base.html" %}
{% load bootstrap4 %}
{% block content %}
    <div class="row">
        <div class="col" style="width: 100%;">
            <h4>Pasant&iacute;as</h4>
            <table class="table table-sm table-hover">
                <thead>
                    <tr>
                        <th>Alumno</th>
                        <th>Fecha Inicio</th>
                        <th>Fecha Fin</th>
                        <th>Tutor Docente</th>
                        <th>Tutor Empresa</th>
                    </tr>
                </thead>
                <tbody>
                    {% for pasantia in pasantia_list %}
                        <tr class="table-row" data-href="{% url 'pasantias-detail-empresa' pasantia.id %}">
                            <td>
                                {{ pasantia.alumno.user.first_name }} {{ pasantia.alumno.user.last_name }}
                            </td>
                            <td>
                                {{ pasantia.fecha_inicio }}
                            </td>
                            <td>
                                {% if pasantia.fecha_fin %}
                                    {{ pasantia.fecha_fin }}
                                {% endif %}
                            </td>
                            <td>
                                {% if pasantia.tutor_docente %}
                                    {{ pasantia.tutor_docente }}
                                {% endif %}
                            </td>
                            <td>
                                {% if pasantia.tutor_empresa %}
                                    {{ pasantia.tutor_empresa }}
                                {% else %}
                                    <span style="color:red;"> Sin Asignar </span>
                                {% endif %}
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
            <div align="center">{% bootstrap_pagination pasantia_list size="small" pages_to_show=5 %}</div>
        </div>
    </div>
{% endblock %}