{% extends "base.html" %}
{% load bootstrap4 %}
{% load material_form %}
{% block content %}
    <div class="row">
        <div class="col" style="width: 100%;">
            <h4>Postulaciones</h4>
            <form action="{{request.get_full_path}}" method="get" class="form">
                <div class="row">
                    <div class="input-field col s6">
                        <i class="material-icons prefix">search</i>
                        <input name="q" id="id_buscador" type="text" value="{{ request.GET.q }}">
                        <label for="id_buscador">Buscador...</label>
                        <span style="margin-top:-1em;" class="helper-text" data-error="wrong" data-success="right">Nombre o Apellido del Estudiante</span>
                    </div>
                    {% if request.GET.q %}
                        <div class="input-field col s4">
                            <a href="{{request.path}}"><i class="material-icons prefix">clear</i></a>
                        </div>
                    {% endif %}
                </div>
            </form>
            <table class="table table-sm table-hover">
                <thead>
                    <tr>
                        <th>Puesto</th>
                        <th>Estudiante</th>
                        <th>Estado</th>
                        <th>Fecha de Postulación</th>
                        <th>Estado Entrevista</th>
                        <th>Fecha Entrevista</th>
                    </tr>
                </thead>
                <tbody>
                    {% for postulacion in postulacion_list %}
                        <tr class="table-row" data-href="{% url 'alumno-detail-empresa' postulacion.pk %}">
                            <td>
                                {{ postulacion.puesto.get_nombre_display }}
                            </td>
                            <td>
                                {{ postulacion.alumno.user.last_name }}, {{ postulacion.alumno.user.first_name }}
                            </td>
                            <td>
                                {% if postulacion.activa %}
                                <span style="color:green;">Activa</span>
                                {% else %}
                                <span style="color:red;">Inactiva</span>
                                {% endif %}
                            </td>
                            <td>
                                {{ postulacion.fecha }}
                            </td>
                            <td>
                            {% if postulacion.entrevista %}
                                {% if postulacion.entrevista.status == 'CAA' %}
                                    <span style="color:red;">Cancelada por el estudiante</span>
                                {% else %}
                                    {% if postulacion.entrevista.status == 'CAE' %}
                                        <span style="color:red;">Cancelada por la empresa</span>
                                    {% else %}
                                        {% if postulacion.entrevista.status == 'COA' or entrevista.status == 'REA' %}
                                            {% if postulacion.entrevista.is_past_due or entrevista.status == 'REA' %}
                                                <span style="color:black;"> REALIZADA </span>
                                            {% else %}
                                                <span style="color:green;"> ACTIVA </span>
                                                <form class="form my-2 my-sm-0" method="get" action="{% url 'empresa-entrevista-cancel' %}">
                                                  {% csrf_token %}
                                                  <input type="hidden" name="entrevista_id" value="{{ postulacion.entrevista.id }}">
                                                  <button onClick="javascript: return confirm('¿Est&aacute; seguro que desea cancelar la entrevista?');" class="btn-small" type="cancel">Cancelar</button>
                                                </form>
                                            {% endif %}
                                        {% else %}
                                            {% if postulacion.entrevista.is_past_due %}
                                                <span style="color:black;"> Se excedi&oacute; la fecha y el estudiante no confirm&oacute;</span>
                                            {% else %}
                                                <span style="color:orange;">A la espera de confirmación del Estudiante</span>
                                            {% endif %}
                                        {% endif %}
                                    {% endif %}
                                {% endif %}
                            {% else %}
                                <form class="form-inline my-2 my-lg-0" method="post" action="{% url 'nueva-entrevista-empresa' %}">
                                  {% csrf_token %}
                                    <input type="hidden" name="postulacion" value="{{ postulacion.id }}">
                                  <button class="btn-small" type="submit">Generar Entrevista</button>
                                </form>
                            {% endif %}
                            </td>
                            <td>
                            {% if postulacion.entrevista %}
                                {{ postulacion.entrevista.fecha }}
                            {% else %}
                            {% endif %}
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
            <div align="center">{% bootstrap_pagination postulacion_list size="small" pages_to_show=5 %}</div>
        </div>
    </div>
{% endblock %}