{% extends "base.html" %}
{% load bootstrap4 %}
{% load material_form %}
{% block content %}
    <div class="row">
        <div class="col" style="width: 100%;">
            <h4>Puestos Ofrecidos <a href="{% url 'nuevo-puesto-empresa' %}">
                    <button style="display: inline-block; float: right;" type="submit" class="btn btn-primary btn-sm">Nuevo Puesto</button>
                </a></h4>
            <table class="table table-sm table-hover">
                <thead>
                    <tr>
                        <th>&Aacute;rea</th>
                        <th>Horario</th>
                        <th>Rentada</th>
                        <th>Activo</th>
                        <th>Acci&oacute;n</th>
                        <th>Fecha de Desactivaci&oacute;n</th>
                    </tr>
                </thead>
                <tbody>
                    {% for puesto in puesto_list %}
                        <tr class="table-row" data-href="{% url 'puesto-detail-empresa' puesto.pk %}">
                            <td>
                                {{ puesto.get_nombre_display }}
                            </td>
                            <td>
                                {{ puesto.horario }}
                            </td>
                            <td>
                                {% if puesto.rentada %}
                                    Si
                                {% else %}
                                    No
                                {% endif %}
                            </td>
                            <td>
                                {% if puesto.activo %}
                                    Si
                                {% else %}
                                    No
                                {% endif %}
                            </td>
                            <td>
                                {% if puesto.activo %}
                                    <a href="{% url 'deactive-puesto-empresa' puesto.pk %}"><button style="font-size: 0.7em; margin-top: -0.25em;" type="cancel" class="btn-small">Desactivar</button></a>
                                {% else %}
                                    <a href="{% url 'active-puesto-empresa' puesto.pk %}"><button style="font-size: 0.7em; margin-top: -0.25em;" type="submit" class="btn-small">Activar</button></a>
                                {% endif %}
                            </td>
                            <td>
                                {% if puesto.activo %}
                                    {{ puesto.fecha_inactivacion }}
                                {% else %}
                                {% endif %}
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
            <div align="center">{% bootstrap_pagination puesto_list size="small" pages_to_show=5 %}</div>
        </div>
    </div>
{% endblock %}