{% extends "base.html" %}
{% load bootstrap4 %}

{% block content %}
    {{ form.media }}
    <div class="row">
        <div class="col">
            <h2>Pasant&iacute;a para el &aacute;rea de {{ puesto.get_nombre_display }}</h2>
            <form method="post" class="form">
                {% csrf_token %}
                {% bootstrap_form form %}
                {% buttons %}
                    <br>
                <button type="submit" class="btn btn-primary btn-lg">Guardar</button>
                <a href="{% url 'eliminar-puesto-empresa' puesto.pk %}"><button class="btn btn-outline-danger btn-lg" type="button" onClick="javascript: return confirm('¿Est&aacute; seguro que desea ELIMINAR este puesto ofercido?');">Eliminar</button></a>
                <button class="btn btn-outline-primary btn-lg" onclick="history.back();return false" type="button" style="float: right;">Atr&aacute;s</button>
                {% endbuttons %}
            </form>
        </div>
    </div>
{% endblock %}