{% extends "base.html" %}
{% load material_form %}

{% block content %}
    {{ form.media }}
    <div class="row">
        <div class="col m4">
            <h4>Puesto</h4>
            <br>
            <form method="post" class="form">
                {% csrf_token %}
                {% form form=form %}{% endform %}
                <br>
                <button type="submit" class="btn btn-primary btn-md">Guardar</button>
                <a href="{% url 'eliminar-puesto-empresa' puesto.pk %}"><span class="btn btn-outline-danger btn-md" type="cancel" onClick="javascript: return confirm('¿Est&aacute; seguro que desea ELIMINAR este puesto?');">Eliminar</span></a>
                <button class="btn btn-outline-primary btn-md" onclick="history.back();return false" type="button" style="float: right;">Atr&aacute;s</button>
            </form>
        </div>
    </div>
{% endblock %}
