{% extends "base.html" %}
{% load bootstrap4 %}
{% load material_form %}
{% block content %}
    <div class="row">
        <div class="col" style="width: 100%;">
            <h4>Tutores
                <a href="{% url 'nuevo-tutor-empresa' %}?next={{ request.path }}">
                    <button style="display: inline-block; float: right;" type="submit" class="btn btn-primary btn-md">Nuevo Tutor</button>
                </a>
            </h4>
            <table class="table table-sm table-hover">
                <thead>
                    <tr>
                        <th>Apellido</th>
                        <th>Nombre</th>
                        <th>Cargo</th>
                        <th>Email</th>
                    </tr>
                </thead>
                <tbody>
                    {% for tutor in tutores_list %}
                        <tr class="table-row" data-href="{% url 'tutores-detail-empresa' tutor.pk %}">
                            <td>
                                {{ tutor.apellido }}
                            </td>
                            <td>
                                {{ tutor.nombre }}
                            </td>
                            <td>
                                {{ tutor.cargo }}
                            </td>
                            <td>
                                {{ tutor.mail }}
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
            <div align="center">{% bootstrap_pagination tutores_list size="small" pages_to_show=5 %}</div>
        </div>
    </div>
{% endblock %}