{% extends "base.html" %}
{% load bootstrap4 %}
{% load material_form %}
{% block content %}
    <div class="row">
        <div class="col" style="width: 100%;">
            <h4>Tutores
                <a href="{% url 'nuevo-tutor-empresa' %}?next={{ request.path }}">
                    <button style="display: inline-block; float: right;" type="submit" class="btn btn-primary btn-md">Nuevo Tutor</button>
                </a>
            </h4>
            <form action="{{request.get_full_path}}" method="get" class="form">
                <div class="row">
                    <div class="input-field col s6">
                        <i class="material-icons prefix">search</i>
                        <input name="q" id="id_buscador" type="text" value="{{ request.GET.q }}">
                        <label for="id_buscador">Buscador...</label>
                        <span style="margin-top:-1em;" class="helper-text" data-error="wrong" data-success="right">Nombre o Apellido del Tutor</span>
                    </div>
                    {% if request.GET.q %}
                        <div class="input-field col s4">
                            <a href="{{request.path}}"><i class="material-icons prefix">clear</i></a>
                        </div>
                    {% endif %}
                </div>
            </form>
            <table class="table table-sm table-hover">
                <thead>
                    <tr>
                        <th>Apellido</th>
                        <th>Nombre</th>
                        <th>Cargo</th>
                        <th>Email</th>
                    </tr>
                </thead>
                <tbody>
                    {% for tutor in tutores_list %}
                        <tr class="table-row" data-href="{% url 'tutores-detail-empresa' tutor.pk %}">
                            <td>
                                {{ tutor.apellido }}
                            </td>
                            <td>
                                {{ tutor.nombre }}
                            </td>
                            <td>
                                {{ tutor.cargo }}
                            </td>
                            <td>
                                {{ tutor.mail }}
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
            <div align="center">{% bootstrap_pagination tutores_list size="small" pages_to_show=5 extra=request.GET.urlencode %}</div>
        </div>
    </div>
{% endblock %}