<nav class="navbar navbar-expand-lg navbar-light bg-light" style="margin-left: -1em;">
    <div class="container">

  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item {% if request.resolver_match.url_name == 'edit-alumno' %}active{% endif %}">
        <a class="nav-link" href="{% url 'edit-alumno' %}">Mi perf&iacute;l</a>
      </li>
      <li class="nav-item dropdown {% if request.resolver_match.url_name == 'empresa-alumno' or request.resolver_match.url_name == 'postulaciones-alumno' or request.resolver_match.url_name == 'entrevistas-alumno'  %}active{% endif %}">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Acciones
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="{% url 'entrevistas-alumno' %}">Mis Entrevistas</a>
          <a class="dropdown-item" href="{% url 'postulaciones-alumno' %}">Mis Postulaciones</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="{% url 'empresas-alumno' %}">Buscar Pasant&iacute;as</a>
        </div>
      </li>
      <li class="nav-item {% if request.resolver_match.url_name == 'contacto-alumno' %}active{% endif %}">
        <a class="nav-link" href="{% url 'contacto-alumno' %}">Contacto</a>
      </li>
    </ul>
    <form class="form-inline my-2 my-lg-0" method="post" action="{% url 'logout' %}">
      {% csrf_token %}
      <button onClick="javascript: return confirm('¿Est&aacute; seguro que desea cerrar sesi&oacute;n?');" class="btn btn-outline-primary my-2 my-sm-0" type="submit">Cerrar Sesi&oacute;n</button>
    </form>
  </div>
    </div>
</nav>


<!--<nav>-->
<!--    <div class="nav-wrapper">-->
<!--      <a href="#!" class="brand-logo">Logo</a>-->
<!--      <a href="#" data-target="mobile-demo" class="sidenav-trigger"><i class="material-icons">menu</i></a>-->
<!--      <ul class="right hide-on-med-and-down">-->
<!--        <li><a href="sass.html">Sass</a></li>-->
<!--        <li><a href="badges.html">Components</a></li>-->
<!--        <li><a href="collapsible.html">Javascript</a></li>-->
<!--        <li><a href="mobile.html">Mobile</a></li>-->
<!--      </ul>-->
<!--    </div>-->
<!--  </nav>-->

<!--  <ul class="sidenav" id="mobile-demo">-->
<!--    <li><a href="sass.html">Sass</a></li>-->
<!--    <li><a href="badges.html">Components</a></li>-->
<!--    <li><a href="collapsible.html">Javascript</a></li>-->
<!--    <li><a href="mobile.html">Mobile</a></li>-->
<!--  </ul>-->


<!--<script>-->
<!--  $(document).ready(function(){-->
<!--    $('.sidenav').sidenav();-->
<!--  });-->
<!--</script>-->