<nav class="navbar navbar-expand-lg navbar-light bg-light" style="background-color:#004884; align-items:center;align-items:center;">
  <div class="container">
    <div class="nav-wrapper">
          <a class="brand-logo" href="http://www.dirinfo.unsl.edu.ar/"><img height="55em" width="55em" src="http://www.dirinfo.unsl.edu.ar/static/img/logo/logo.png"></a>
          <a href="#" data-target="mobile-demo" class="sidenav-trigger"><i class="material-icons">menu</i></a>
          <ul class="right hide-on-med-and-down">
            <li>
              <a class="nav-link" href="{% url 'edit-alumno' %}">Mi perf&iacute;l</a>
            </li>
            <li>
              <a class="dropdown-trigger" href="#!" data-target="dropdownAlumno">
                Acciones<i class="material-icons right">arrow_drop_down</i>
              </a>
            </li>
            <li>
              <a class="nav-link" href="{% url 'contacto-alumno' %}">Contacto</a>
            </li>
            <li>
              <a onClick="javascript: return confirm('¿Est&aacute; seguro que desea cerrar sesi&oacute;n?');" class="nav-link" href="{% url 'logout' %}">
                <i class="material-icons left">power_settings_new</i>
              </a>
            </li>
          </ul>
    </div>
  </div>
</nav>

<ul class="sidenav" id="mobile-demo">
    <li>
      <a class="nav-link" href="{% url 'edit-alumno' %}">Mi perf&iacute;l</a>
    </li>
    <li>
      <a class="dropdown-trigger" href="#!" data-target="dropdownAlumno2">
        Acciones<i class="material-icons right">arrow_drop_down</i>
      </a>
    </li>
    <li>
      <a class="nav-link" href="{% url 'contacto-alumno' %}">Contacto</a>
    </li>
    <li>
      <a onClick="javascript: return confirm('¿Est&aacute; seguro que desea cerrar sesi&oacute;n?');" class="nav-link" href="{% url 'logout' %}">
          <i class="material-icons" style="color:red;">power_settings_new</i><span style="margin-left:-1em;">Cerrar Sesi&oacute;n</span>
      </a>
    </li>
</ul>

<ul id="dropdownAlumno" class="dropdown-content">
  <li><a class="dropdown-item" href="{% url 'entrevistas-alumno' %}">Entrevistas</a></li>
  <li><a class="dropdown-item" href="{% url 'postulaciones-alumno' %}">Postulaciones</a></li>
  <li><a class="dropdown-item" href="{% url 'empresas-alumno' %}">Pasant&iacute;as</a></li>
</ul>

<ul id="dropdownAlumno2" class="dropdown-content">
  <li><a class="dropdown-item" href="{% url 'entrevistas-alumno' %}">Entrevistas</a></li>
  <li><a class="dropdown-item" href="{% url 'postulaciones-alumno' %}">Postulaciones</a></li>
  <li><a class="dropdown-item" href="{% url 'empresas-alumno' %}">Pasant&iacute;as</a></li>
</ul>

<script type="text/javascript">
    $(".dropdown-trigger").dropdown();

    $(document).ready(function(){
        $('.sidenav').sidenav();
    });
</script>
