<nav class="navbar navbar-expand-lg navbar-light bg-light" style="background-color:#004884; align-items:center;align-items:center; display:inline-flex;">
  <div class="container">
    <div class="nav-wrapper">
          <a class="brand-logo" href="http://www.dirinfo.unsl.edu.ar/"><img height="60em" width="60em" src="http://www.dirinfo.unsl.edu.ar/static/images/logo.png"></a>
          <a href="#" data-target="mobile-demo" class="sidenav-trigger"><i class="material-icons">menu</i></a>
          <ul class="right hide-on-med-and-down">
            <li class="{% if request.resolver_match.url_name == 'edit-empresa' %}active{% endif %}">
              <a class="nav-link" href="{% url 'edit-empresa' %}">Mi perf&iacute;l</a>
            </li>
            <li>
              <a class="dropdown-trigger" href="#!" data-target="dropdownEmpresa">
                Acciones<i class="material-icons right">arrow_drop_down</i>
              </a>
            </li>
            <li class="{% if request.resolver_match.url_name == 'contacto-empresa' %}active{% endif %}">
              <a class="nav-link" href="{% url 'contacto-empresa' %}">Contactos</a>
            </li>
            <li>
              <a onClick="javascript: return confirm('¿Est&aacute; seguro que desea cerrar sesi&oacute;n?');" class="nav-link" href="{% url 'logout' %}">
                <i class="material-icons left">power_settings_new</i>
              </a>
            </li>
          </ul>
    </div>
  </div>
</nav>

<ul class="sidenav" id="mobile-demo">
    <li>
      <a class="nav-link" href="{% url 'edit-empresa' %}">Mi perf&iacute;l</a>
    </li>
    <li>
      <a class="dropdown-trigger" href="#!" data-target="dropdownEmpresa2">
        Acciones<i class="material-icons right">arrow_drop_down</i>
      </a>
    </li>
    <li>
      <a class="nav-link" href="{% url 'contacto-alumno' %}">Contacto</a>
    </li>
    <li>
      <a onClick="javascript: return confirm('¿Est&aacute; seguro que desea cerrar sesi&oacute;n?');" class="nav-link" href="{% url 'logout' %}">
          <i class="material-icons" style="color:red;">power_settings_new</i><span style="margin-left:-1em;">Cerrar Sesi&oacute;n</span>
      </a>
    </li>
</ul>

<ul id="dropdownEmpresa" class="dropdown-content">
  <li><a class="dropdown-item" href="{% url 'postulaciones-empresa' %}">Postulaciones</a></li>
  <li><a class="dropdown-item" href="{% url 'entrevistas-empresa' %}">Entrevistas</a></li>
  <li><a class="dropdown-item" href="{% url 'pasantias-empresa' %}">Pasant&iacute;as</a></li>
  <li><a class="dropdown-item" href="{% url 'tutores-empresa' %}">Tutores</a></li>
  <li class="divider"></li>
  <li><a class="dropdown-item" href="{% url 'puestos-empresa' %}">Mis Puestos Ofrecidos</a></li>
</ul>

<ul id="dropdownEmpresa2" class="dropdown-content">
  <li><a class="dropdown-item" href="{% url 'postulaciones-empresa' %}">Postulaciones</a></li>
  <li><a class="dropdown-item" href="{% url 'entrevistas-empresa' %}">Entrevistas</a></li>
  <li><a class="dropdown-item" href="{% url 'pasantias-empresa' %}">Pasant&iacute;as</a></li>
  <li><a class="dropdown-item" href="{% url 'tutores-empresa' %}">Tutores</a></li>
  <li class="divider"></li>
  <li><a class="dropdown-item" href="{% url 'puestos-empresa' %}">Mis Puestos Ofrecidos</a></li>
</ul>

<script type="text/javascript">
    $(".dropdown-trigger").dropdown();

    $(document).ready(function(){
        $('.sidenav').sidenav();
    });
</script>