<nav class="navbar navbar-expand-lg navbar-light bg-light" style="background-color:#004884; align-items:center; display:inline-flex;">
    <div class="container">
      <a class="brand-logo" href="http://www.dirinfo.unsl.edu.ar/"><img style="margin-top:-0.4em" height="60em" width="60em" src="http://www.dirinfo.unsl.edu.ar/static/images/logo.png"></a>
      {% if not request.resolver_match.url_name == 'login' %}
          <a href="{% url 'login' %}"><button class="btn my-2 my-sm-0" type="submit" style="background-color:green; float: right; padding-left:0.5em; padding-right:0.5em">Iniciar Sesi&oacute;n</button></a>
      {% endif %}
    </div>
</nav>