<nav style="background-color:#004884;">
    <div class="nav-wrapper container">
          <a style="width:auto;height:100%;" class="brand-logo" href="http://www.dirinfo.unsl.edu.ar/"><img style="width:auto;height:100%;" src="http://www.dirinfo.unsl.edu.ar/static/img/logo/logo.png"></a>
        {% if not request.resolver_match.url_name == 'login' %}
            <a class="right hide-on-med-and-down" href="{% url 'login' %}" style="position:relative !important; float: right;"><button class="btn my-2 my-sm-0" type="submit" style="padding-left:0.5em; padding-right:0.5em">Iniciar Sesi&oacute;n</button></a>
            <a class="left hide-on-large-only" href="{% url 'login' %}" style="position:relative !important; float: right;"><button class="btn my-2 my-sm-0" type="submit" style="padding-left:0.5em; padding-right:0.5em">Iniciar Sesi&oacute;n</button></a>
        {% endif %}
    </div>
</nav>
