<nav style="background-color:#004884;">
    <div class="nav-wrapper container valign-wrapper">
          <a style="width:auto;height:100%;" class="brand-logo" href="http://www.dirinfo.unsl.edu.ar/"><img style="width:auto;height:100%;" src="http://www.dirinfo.unsl.edu.ar/static/img/logo/logo.png"></a>
          <a href="#" data-target="mobile-demo" class="sidenav-trigger"><i class="material-icons">menu</i></a>
          <ul class="right hide-on-med-and-down">
            <li class="{% if request.resolver_match.url_name == 'edit-subcomision-carrera' %}active{% endif %}">
              <a class="nav-link" href="{% url 'edit-subcomision-carrera' %}">Subcomisi&oacute;n de Pr&aacute;cticas</a>
            </li>
            <li class="{% if request.resolver_match.url_name == 'puestos-subcomision-carrera' or request.resolver_match.url_name == 'postulaciones-subcomision-carrera' or request.resolver_match.url_name == 'entrevistas-subcomision-carrera' or request.resolver_match.url_name == 'postulaciones-subcomision-carrera' or request.resolver_match.url_name == 'alumnos-subcomision-carrera' or request.resolver_match.url_name == 'empresas-subcomision-carrera' or request.resolver_match.url_name == 'pasantias-subcomision-carrera' %}active{% endif %}">
              <a class="dropdown-trigger" href="#!" data-target="dropdownSubcomision">
                Gesti&oacute;n<i class="material-icons right">arrow_drop_down</i>
              </a>
            </li>
            <li>
              <a onClick="javascript: return confirm('¿Est&aacute; seguro que desea cerrar sesi&oacute;n?');" class="nav-link" href="{% url 'logout' %}">
                <i class="material-icons left">power_settings_new</i>
              </a>
            </li>
          </ul>
    </div>
</nav>

<ul class="sidenav" id="mobile-demo">
    <li>
      <a class="nav-link" href="{% url 'edit-subcomision-carrera' %}">Subcomisi&oacute;n de Pr&aacute;cticas</a>
    </li>
    <li>
      <a class="dropdown-trigger" href="#!" data-target="dropdownSubcomision2">
        Gesti&oacute;n<i class="material-icons right">arrow_drop_down</i>
      </a>
    </li>
    <li>
      <a onClick="javascript: return confirm('¿Est&aacute; seguro que desea cerrar sesi&oacute;n?');" class="nav-link" href="{% url 'logout' %}">
          <i class="material-icons" style="color:red;">power_settings_new</i><span style="margin-left:-1em;">Cerrar Sesi&oacute;n</span>
      </a>
    </li>
</ul>

<ul id="dropdownSubcomision" class="dropdown-content">
  <li><a class="dropdown-item" href="{% url 'pasantias-subcomision-carrera' %}">Pr&aacute;cticas</a></li>
  <li><a class="dropdown-item" href="{% url 'entrevistas-subcomision-carrera' %}">Entrevistas</a></li>
  <li><a class="dropdown-item" href="{% url 'postulaciones-subcomision-carrera' %}">Postulaciones</a></li>
  <li><a class="dropdown-item" href="{% url 'puestos-subcomision-carrera' %}">Puestos Ofrecidos</a></li>
  <li class="divider"></li>
  <li><a class="dropdown-item" href="{% url 'alumnos-subcomision-carrera' %}">Alumnos</a></li>
  <li><a class="dropdown-item" href="{% url 'empresas-subcomision-carrera' %}">Empresas</a></li>
</ul>

<ul id="dropdownSubcomision2" class="dropdown-content">
  <li><a class="dropdown-item" href="{% url 'pasantias-subcomision-carrera' %}">Pr&aacute;cticas</a></li>
  <li><a class="dropdown-item" href="{% url 'entrevistas-subcomision-carrera' %}">Entrevistas</a></li>
  <li><a class="dropdown-item" href="{% url 'postulaciones-subcomision-carrera' %}">Postulaciones</a></li>
  <li><a class="dropdown-item" href="{% url 'puestos-subcomision-carrera' %}">Puestos Ofrecidos</a></li>
  <li class="divider"></li>
  <li><a class="dropdown-item" href="{% url 'alumnos-subcomision-carrera' %}">Alumnos</a></li>
  <li><a class="dropdown-item" href="{% url 'empresas-subcomision-carrera' %}">Empresas</a></li>
</ul>

<script type="text/javascript">
    $(".dropdown-trigger").dropdown();

    $(document).ready(function(){
        $('.sidenav').sidenav();
    });
</script>
