<!--<nav class="navbar navbar-expand-lg navbar-light bg-light" style="margin-left: -1em;">
    <div class="container">

  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item {% if request.resolver_match.url_name == 'edit-subcomision-carrera' %}active{% endif %}">
        <a class="nav-link" href="{% url 'edit-subcomision-carrera' %}">La Subcomisi&oacute;n</a>
      </li>
      <li class="nav-item dropdown {% if request.resolver_match.url_name == 'puestos-subcomision-carrera' or request.resolver_match.url_name == 'postulaciones-subcomision-carrera' or request.resolver_match.url_name == 'entrevistas-subcomision-carrera' or request.resolver_match.url_name == 'postulaciones-subcomision-carrera' or request.resolver_match.url_name == 'alumnos-subcomision-carrera' or request.resolver_match.url_name == 'empresas-subcomision-carrera' or request.resolver_match.url_name == 'pasantias-subcomision-carrera' %}active{% endif %}">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Acciones
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                <a class="dropdown-item" href="{% url 'pasantias-subcomision-carrera' %}">Pasant&iacute;as</a>
                <a class="dropdown-item" href="{% url 'entrevistas-subcomision-carrera' %}">Entrevistas</a>
                <a class="dropdown-item" href="{% url 'postulaciones-subcomision-carrera' %}">Postulaciones</a>
                <a class="dropdown-item" href="{% url 'puestos-subcomision-carrera' %}">Puestos Ofrecidos</a>
              <div class="dropdown-divider"></div>
                <a class="dropdown-item" href="{% url 'alumnos-subcomision-carrera' %}">Alumnos</a>
                <a class="dropdown-item" href="{% url 'empresas-subcomision-carrera' %}">Empresas</a>
          </div>
      </li>

    </ul>
    <form class="form-inline my-2 my-lg-0" method="post" action="{% url 'logout' %}">
      {% csrf_token %}
      <button onClick="javascript: return confirm('¿Est&aacute; seguro que desea cerrar sesi&oacute;n?');" class="btn btn-outline-primary my-2 my-sm-0" type="submit">Cerrar Sesi&oacute;n</button>
    </form>
  </div>
    </div>
</nav>-->


<nav class="navbar navbar-expand-lg navbar-light bg-light" style="background-color:#004884; align-items:center;align-items:center; display:inline-flex;">
  <div class="container">
    <div class="nav-wrapper">
          <a class="brand-logo" href="http://www.dirinfo.unsl.edu.ar/"><img height="60em" width="60em" src="http://www.dirinfo.unsl.edu.ar/static/images/logo.png"></a>
          <a href="#" data-target="mobile-demo" class="sidenav-trigger"><i class="material-icons">menu</i></a>
          <ul class="right hide-on-med-and-down">
            <li class="{% if request.resolver_match.url_name == 'edit-subcomision-carrera' %}active{% endif %}">
              <a class="nav-link" href="{% url 'edit-subcomision-carrera' %}">La Subcomisi&oacute;n</a>
            </li>
            <li class="{% if request.resolver_match.url_name == 'puestos-subcomision-carrera' or request.resolver_match.url_name == 'postulaciones-subcomision-carrera' or request.resolver_match.url_name == 'entrevistas-subcomision-carrera' or request.resolver_match.url_name == 'postulaciones-subcomision-carrera' or request.resolver_match.url_name == 'alumnos-subcomision-carrera' or request.resolver_match.url_name == 'empresas-subcomision-carrera' or request.resolver_match.url_name == 'pasantias-subcomision-carrera' %}active{% endif %}">
              <a class="dropdown-trigger" href="#!" data-target="dropdownSubcomision">
                Acciones<i class="material-icons right">arrow_drop_down</i>
              </a>
            </li>
            <li>
              <a onClick="javascript: return confirm('¿Est&aacute; seguro que desea cerrar sesi&oacute;n?');" class="nav-link" href="{% url 'logout' %}">
                <i class="material-icons left" style="color:red;">power_settings_new</i>
              </a>
            </li>
          </ul>
    </div>
  </div>
</nav>

<ul class="sidenav" id="mobile-demo">
    <li>
      <a class="nav-link" href="{% url 'edit-alumno' %}">Mi perf&iacute;l</a>
    </li>
    <li>
      <a class="dropdown-trigger" href="#!" data-target="dropdownSubcomision2">
        Acciones<i class="material-icons right">arrow_drop_down</i>
      </a>
    </li>
    <li>
      <a onClick="javascript: return confirm('¿Est&aacute; seguro que desea cerrar sesi&oacute;n?');" class="nav-link" href="{% url 'logout' %}">
          <i class="material-icons" style="color:red;">power_settings_new</i><span style="margin-left:-1em;">Cerrar Sesi&oacute;n</span>
      </a>
    </li>
</ul>

<ul id="dropdownSubcomision" class="dropdown-content">
  <li><a class="dropdown-item" href="{% url 'pasantias-subcomision-carrera' %}">Pasant&iacute;as</a></li>
  <li><a class="dropdown-item" href="{% url 'entrevistas-subcomision-carrera' %}">Entrevistas</a></li>
  <li><a class="dropdown-item" href="{% url 'postulaciones-subcomision-carrera' %}">Postulaciones</a></li>
  <li><a class="dropdown-item" href="{% url 'puestos-subcomision-carrera' %}">Puestos Ofrecidos</a></li>
  <li class="divider"></li>
  <li><a class="dropdown-item" href="{% url 'alumnos-subcomision-carrera' %}">Alumnos</a></li>
  <li><a class="dropdown-item" href="{% url 'empresas-subcomision-carrera' %}">Empresas</a></li>
</ul>

<ul id="dropdownSubcomision2" class="dropdown-content">
  <li><a class="dropdown-item" href="{% url 'pasantias-subcomision-carrera' %}">Pasant&iacute;as</a></li>
  <li><a class="dropdown-item" href="{% url 'entrevistas-subcomision-carrera' %}">Entrevistas</a></li>
  <li><a class="dropdown-item" href="{% url 'postulaciones-subcomision-carrera' %}">Postulaciones</a></li>
  <li><a class="dropdown-item" href="{% url 'puestos-subcomision-carrera' %}">Puestos Ofrecidos</a></li>
  <li class="divider"></li>
  <li><a class="dropdown-item" href="{% url 'alumnos-subcomision-carrera' %}">Alumnos</a></li>
  <li><a class="dropdown-item" href="{% url 'empresas-subcomision-carrera' %}">Empresas</a></li>
</ul>

<script type="text/javascript">
    $(".dropdown-trigger").dropdown();

    $(document).ready(function(){
        $('.sidenav').sidenav();
    });
</script>