<nav class="navbar navbar-expand-lg navbar-light bg-light" style="background-color:#004884; align-items:center;align-items:center;">
  <div class="container">
    <div class="nav-wrapper">
        <a class="brand-logo" href="http://www.dirinfo.unsl.edu.ar/"><img height="60em" width="60em" src="http://www.dirinfo.unsl.edu.ar/static/img/logo/logo.png"></a>
        <a href="#" data-target="mobile-demo" class="sidenav-trigger"><i class="material-icons">menu</i></a>
        <ul class="right hide-on-med-and-down">
            <li class="{% if request.resolver_match.url_name == 'edit-comision-pasantias' %}active{% endif %}">
              <a class="nav-link" href="{% url 'edit-comision-pasantias' %}">Comisi&oacute;n de Pasant&iacute;as</a>
            </li>
            <li class="{% if request.resolver_match.url_name == 'puestos-comision-pasantias' or request.resolver_match.url_name == 'postulaciones-comision-pasantias' or request.resolver_match.url_name == 'entrevistas-comision-pasantias' or request.resolver_match.url_name == 'postulaciones-comision-pasantias' or request.resolver_match.url_name == 'alumnos-comision-pasantias' or request.resolver_match.url_name == 'empresas-comision-pasantias' or request.resolver_match.url_name == 'pasantias-comision-pasantias' %}active{% endif %}">
              <a class="dropdown-trigger" href="#!" data-target="dropdownComision">
                Gesti&oacute;n<i class="material-icons right">arrow_drop_down</i>
              </a>
            </li>
            <li>
              <a onClick="javascript: return confirm('¿Est&aacute; seguro que desea cerrar sesi&oacute;n?');" class="nav-link" href="{% url 'logout' %}">
                <i class="material-icons left">power_settings_new</i>
              </a>
            </li>
        </ul>
    </div>
  </div>
</nav>


<ul class="sidenav" id="mobile-demo">
    <li class="{% if request.resolver_match.url_name == 'edit-comision-pasantias' %}active{% endif %}">
      <a class="nav-link" href="{% url 'edit-comision-pasantias' %}">Comisi&oacute;n de Pasant&iacute;as</a>
    </li>
    <li class="{% if request.resolver_match.url_name == 'puestos-comision-pasantias' or request.resolver_match.url_name == 'postulaciones-comision-pasantias' or request.resolver_match.url_name == 'entrevistas-comision-pasantias' or request.resolver_match.url_name == 'postulaciones-comision-pasantias' or request.resolver_match.url_name == 'alumnos-comision-pasantias' or request.resolver_match.url_name == 'empresas-comision-pasantias' or request.resolver_match.url_name == 'pasantias-comision-pasantias' %}active{% endif %}">
      <a class="dropdown-trigger" href="#!" data-target="dropdownComision2">
        Gesti&oacute;n<i class="material-icons right">arrow_drop_down</i>
      </a>
    </li>
    <li>
      <a onClick="javascript: return confirm('¿Est&aacute; seguro que desea cerrar sesi&oacute;n?');" class="nav-link" href="{% url 'logout' %}">
        <i class="material-icons left" style="color:red;">power_settings_new</i>
      </a>
    </li>
</ul>

<ul id="dropdownComision" class="dropdown-content">
  <li><a class="dropdown-item" href="{% url 'alumnos-comision-pasantias' %}">Alumnos</a></li>
  <li><a class="dropdown-item" href="{% url 'pasantias-comision-pasantias' %}">Pasant&iacute;as</a></li>
  <li><a class="dropdown-item" href="{% url 'entrevistas-comision-pasantias' %}">Entrevistas</a></li>
  <li><a class="dropdown-item" href="{% url 'postulaciones-comision-pasantias' %}">Postulaciones</a></li>
  <li><a class="dropdown-item" href="{% url 'puestos-comision-pasantias' %}">Puestos Ofrecidos</a></li>
  <li class="divider"></li>
  <li><a class="dropdown-item" href="{% url 'empresas-comision-pasantias' %}">Empresas</a></li>
  <li><a class="dropdown-item" href="{% url 'tutores-comision-pasantias' %}">Tutores</a></li>
  <li class="divider"></li>
  <li><a class="dropdown-item" href="{% url 'carreras-comision-pasantias' %}">Carreras</a></li>
  <li><a class="dropdown-item" href="{% url 'docentes-comision-pasantias' %}">Docentes</a></li>
</ul>

<ul id="dropdownComision2" class="dropdown-content">
  <li><a class="dropdown-item" href="{% url 'alumnos-comision-pasantias' %}">Alumnos</a></li>
  <li><a class="dropdown-item" href="{% url 'pasantias-comision-pasantias' %}">Pasant&iacute;as</a></li>
  <li><a class="dropdown-item" href="{% url 'entrevistas-comision-pasantias' %}">Entrevistas</a></li>
  <li><a class="dropdown-item" href="{% url 'postulaciones-comision-pasantias' %}">Postulaciones</a></li>
  <li><a class="dropdown-item" href="{% url 'puestos-comision-pasantias' %}">Puestos Ofrecidos</a></li>
  <li class="divider"></li>
  <li><a class="dropdown-item" href="{% url 'empresas-comision-pasantias' %}">Empresas</a></li>
  <li><a class="dropdown-item" href="{% url 'tutores-comision-pasantias' %}">Tutores</a></li>
  <li class="divider"></li>
  <li><a class="dropdown-item" href="{% url 'carreras-comision-pasantias' %}">Carreras</a></li>
  <li><a class="dropdown-item" href="{% url 'docentes-comision-pasantias' %}">Docentes</a></li>
</ul>

<script type="text/javascript">
    $(".dropdown-trigger").dropdown();

    $(document).ready(function(){
        $('.sidenav').sidenav();
    });
</script>
