<!DOCTYPE html>
{% load i18n %}
{% load staticfiles %}
<html lang="es">

<head>
    <link rel="stylesheet" href="{% static 'css/bootstrap.css' %}" />
    <script src = "{% static 'js/bootstrap.js' %}"> </script>
    <title>{% block title %}Login{% endblock %}</title>
</head>

<body>
    <div id="header">
    {% block header %}
    <a href="{% url 'base' %}">{% trans "Home" %}</a> |

    {% if user.is_authenticated %}
        {% trans "Usuario" %}: {{ user.username }}
        (<a href="{% url 'auth_logout' %}">{% trans 'Log out' %}</a>)
    {% else %}
       <a href="{% url 'auth_login' %}">{% trans 'Log in' %}</a>
    {% endif %}
    <hr />
    {% endblock %}
    </div>

    <div id="content">
    {% block content %}{% endblock %}
    </div>

    <div id="footer">
    {% block footer %}
        <hr />
    {% endblock %}
    </div>

    <img src="{% static 'images/rango-picture.png' %}" alt="Picture of Rango" />
</body>

</html>