{% load bootstrap4 %}

<!DOCTYPE html>
<html lang="es">
    <head>
        {% bootstrap_css %}
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">

        <title>{% block title %}{% endblock %}</title>
    </head>
    <body>
        <!-- Navbar -->
            {% if alumno %}
                {% include "navbar/alumno.html" %}
            {% elif subcomisionCarrera %}
                {% include "navbar/subcomisionCarrera.html" %}
            {% elif subcomisionPasantiasPPS %}
                {% include "navbar/subcomisionPasantiasPPS.html" %}
            {% elif empresa %}
                {% include "navbar/empresa.html" %}
            {% else %}
                {% include "navbar/login.html" %}
            {% endif %}

        <!-- Content -->
        <div id="content" class="container" style="margin-top:60px">
            {% block content %}{% endblock %}
        </div>

        <!-- Scripts -->
        {% bootstrap_javascript jquery='full' %}
    </body>
</html>