{% extends "base.html" %}

{% block content %}
    <div class="row">
        <div class="col">
            <h2>Alumnos</h2>
            <table class="table">
                <thead>
                    <tr>
                        <th>Nombre</th>
                        <th>Apellido</th>
                        <th>Carrera</th>
                        <th>Email</th>
                        <th>A&ntilde;o que cursa</th>
                        <th>Comentarios Comision Carrera</th>
                    </tr>
                </thead>
                <tbody>
                    {% for alumno in alumnos_list %}
                        <tr>
                            <td>
                                <a href="{% url 'alumno-detail-empresa' alumno.numero_registro %}">{{ alumno.user.first_name }}</a>
                            </td>
                            <td>
                                {{ alumno.user.last_name }}
                            </td>
                            <td>
                                {{ alumno.carrera }}
                            </td>
                            <td>
                                {{ alumno.user.email }}
                            </td>
                            <td>
                                {{ alumno.prioridad }}
                            </td>
                            {% if alumno.comentarios_carrera_visibles == True %}
                                <td>
                                    {{ alumno.comentarios_comision_carrera }}
                                </td>
                            {% endif %}
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}