{% extends "base.html" %}

{% block content %}
    <div class="row">
        <div class="col">
            <h2>Docentes de tu comisi&oacute;n carrera</h2>
            <table class="table">
                <thead>
                    <tr>
                        <th>Nombre</th>
                        <th>Apellido</th>
                        <th>Mail</th>
                        <th>Box</th>
                    </tr>
                </thead>
                <tbody>
                    {% if docente %}
                        <tr>
                            <td>{{ docente.nombre }}</td>
                            <td>{{ docente.apellido }}</td>
                            <td><a href="mailto:{{docente.mail}}" mail>
                                <i class="fas fa-envelope"></i></a> {{ docente.mail }}</td>
                            <td>{{ docente.box_oficina }}</td>
                        </tr>
                    {% endif %}
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}