{% extends "base.html" %}

{% block content %}
    <div class="row">
        <div class="col">
            <h2>Usuarios</h2>
            <table class="table">
                <thead>
                    <tr>
                        <th>Nombre</th>
                        <th>Carrera</th>
                        <th>Acciones</th>
                    </tr>
                </thead>
                <tbody>
                    {% for empresa in alumno_list %}
                        <tr>
                            <td>
                                <a href="{% url 'detail-alumno' %}">{{ empresa.user.first_name }} {{ empresa.user.last_name }}</a>
                            </td>
                            <td>{{ empresa.carrera }}</td>
                            <td>
                                <a href="#"><i class="fas fa-user-edit"></i></a>
                                <a href="#"><i class="fas fa-user-minus"></i></a>
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}