{% extends "base.html" %}

{% block content %}
    <div class="row">
        <div class="col">
            <h2>Postulaciones</h2>
            <table class="table table-sm table-hover">
                <thead>
                    <tr>
                        <th>Puesto</th>
                        <th>Alumno</th>
                        <th>Fecha de Postulación</th>
                        <th>Estado Entrevista</th>
                        <th>Fecha Entrevista</th>
                    </tr>
                </thead>
                <tbody>
                    {% for postulacion in postulacion_list %}
                        <tr data-link="row" class="rowlink">
                            <td>
                                <a href="{% url 'alumno-detail-empresa' postulacion.pk %}">{{ postulacion.puesto.get_nombre_display }}</a>
                            </td>
                            <td>
                                {{ postulacion.alumno.user.last_name }}, {{ postulacion.alumno.user.first_name }}
                            </td>
                            <td>
                                {{ postulacion.fecha }}
                            </td>
                            <td>
                            {% if postulacion.entrevista %}
                                {% if postulacion.entrevista.status == 'CAA' %}
                                    <p style="color:red;">Cancelada por el alumno</p>
                                {% else %}
                                    {% if postulacion.entrevista.status == 'CAE' %}
                                        <p style="color:red;">Cancelada por la empresa</p>
                                    {% else %}
                                        {% if postulacion.entrevista.status == 'COA' %}
                                            {% if postulacion.entrevista.is_past_due %}
                                                <p style="color:black;"> REALIZADA </p>
                                            {% else %}
                                                <p style="color:green;"> ACTIVA </p>
                                                <form class="form my-2 my-sm-0" method="get" action="{% url 'empresa-entrevista-cancel' %}">
                                                  {% csrf_token %}
                                                  <input type="hidden" name="entrevista_id" value="{{ postulacion.entrevista.id }}">
                                                  <button onClick="javascript: return confirm('¿Est&aacute; seguro que desea cancelar la entrevista?');" class="btn btn-outline-danger btn-sm" type="submit">Cancelar</button>
                                                </form>
                                            {% endif %}
                                        {% else %}
                                            {% if postulacion.entrevista.is_past_due %}
                                                <p style="color:black;"> Se excedi&oacute; la fecha y el alumno no confirm&oacute;</p>
                                            {% else %}
                                                <p style="color:orange;">A la espera de confirmación de Alumno</p>
                                            {% endif %}
                                        {% endif %}
                                    {% endif %}
                                {% endif %}
                            {% else %}
                                <form class="form-inline my-2 my-lg-0" method="post" action="{% url 'nueva-entrevista-empresa' %}">
                                  {% csrf_token %}
                                    <input type="hidden" name="postulacion" value="{{ postulacion.id }}">
                                  <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Generar Entrevista</button>
                                </form>
                            {% endif %}
                            </td>
                            <td>
                            {% if postulacion.entrevista %}
                                {{ postulacion.entrevista.fecha }}
                            {% else %}
                            {% endif %}
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}