{% extends "base.html" %}

{% block content %}
    <div class="row">
        <div class="col">
            <h2>Postulaciones</h2>
            <table class="table">
                <thead>
                    <tr>
                        <th>Puesto</th>
                        <th>Alumno</th>
                        <th>Fecha de Postulación</th>
                        <th>Entrevista Asignada</th>
                        <th>Confirmación Asistencia</th>
                    </tr>
                </thead>
                <tbody>
                    {% for postulacion in postulaciones_list %}
                        <tr>
                            <td>
                                <a href="#">{{ postulacion.puesto }}</a>
                            </td>
                            <td>
                                <a href="{% url 'alumno-detail-empresa' postulacion.alumno.numero_registro %}">
                                    {{ postulacion.alumno.user.first_name }} {{ postulacion.alumno.user.last_name }}</a>
                            </td>
                            <td>
                                {{ postulacion.fecha }}
                            </td>
                            <td>
                                {% if postulacion.entrevista %}
                                {{ postulacion.entrevista.fecha }}<p> Botón Cancelar Entrevista</p>
                                {% else %}
                                <p>No Posee</p> <p> Botón Generar Entrevista</p>
                                {% endif %}
                            </td>
                            {% if postulacion.entrevista %}
                            <td>
                                {% if postulacion.entrevista.confirmada_alumno %}
                                <p>Entrevista Confirmada</p>
                                {% else %}
                                <p>A la espera de confirmación</p>
                                {% endif %}
                            </td>
                            {% endif %}
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}