{% extends "base.html" %}
{% load bootstrap4 %}
{% block content %}
    <div class="row">
        <div class="col">
            <h2>Puestos Ofrecidos <a href="{% url 'nuevo-puesto-empresa' %}">
                    <button style="display: inline-block; float: right;" type="submit" class="btn btn-primary btn-md">Nuevo Puesto</button>
                </a></h2>
            <table class="table table-sm table-hover">
                <thead>
                    <tr>
                        <th>&Aacute;rea</th>
                        <th>Horario</th>
                        <th>Rentada</th>
                    </tr>
                </thead>
                <tbody>
                    {% for puesto in puesto_list %}
                        <tr data-link="row" class="rowlink">
                            <td>
                                <a href="{% url 'puesto-detail-empresa' puesto.pk %}">{{ puesto.get_nombre_display }}</a>
                            </td>
                            <td>
                                {{ puesto.horario }}
                            </td>
                            <td>
                                {% if puesto.rentada %}
                                    Si
                                {% else %}
                                    No
                                {% endif %}
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
            <div align="center" style="display: -webkit-box;">{% bootstrap_pagination puesto_list size="small" pages_to_show=5 %}</div>
        </div>
    </div>
{% endblock %}