<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container">

  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item {% if request.resolver_match.url_name == 'index-alumno' %}active{% endif %}">
        <a class="nav-link" href="{% url 'index-alumno' alumno.numero_registro %}">Inicio <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item {% if request.resolver_match.url_name == 'edit-alumno' %}active{% endif %}">
        <a class="nav-link" href="{% url 'edit-alumno' alumno.numero_registro %}">Mi perf&iacute;l</a>
      </li>
      <li class="nav-item dropdown {% if request.resolver_match.url_name == 'puestos-alumno' or request.resolver_match.url_name == 'postulaciones-alumno' or request.resolver_match.url_name == 'entrevistas-alumno'  %}active{% endif %}">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Acciones
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="{% url 'entrevistas-alumno' alumno.numero_registro %}">Mis Entrevistas</a>
          <a class="dropdown-item" href="{% url 'postulaciones-alumno' alumno.numero_registro %}">Mis Postualciones</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="{% url 'puestos-alumno' alumno.numero_registro %}">Buscar Pasant&iacute;as</a>
        </div>
      </li>
      <li class="nav-item {% if request.resolver_match.url_name == 'contacto-alumno' %}active{% endif %}">
        <a class="nav-link" href="{% url 'contacto-alumno' alumno.numero_registro %}">Contacto</a>
      </li>
    </ul>
    <form class="form-inline my-2 my-lg-0" method="post" action="{% url 'logout' %}">
      {% csrf_token %}
      <button onClick="javascript: return confirm('¿Est&aacute; seguro que desea cerrar sesi&iacute;on?');" class="btn btn-outline-success my-2 my-sm-0" type="submit">Cerrar Sesi&oacute;n</button>
    </form>
  </div>
    </div>
</nav>