/**** Background Colors ****/

.site-footer {
    padding-top: 50px;
    border-top: 4px solid;
    margin-top: 10px;
    color: #6b90ad;
}

.footer-media-icons li a {
  background-color: #003a6a;
}

.site-footer {
  background-color: #004884;
}

.site-footer a:hover{
  color: #ffffff;
}

.footer-widget-title,
.footer-media-icons li a, a {
  color: white;
}

.site-footer a {
  color: #8ab5d6;
}

.footer-nav li:not(:first-child):before {
  color: #4e718d;
}

.bottom-footer p.small-text {
  color: #6b90ad;
}

.site-footer {
  border-color: #d5d5d5;
}

.bottom-footer {
  border-color: #003a6a;
}