<!-- templates/registration/login.html -->
{% extends 'base.html' %}
{% load bootstrap4 %}


{% block title %}Login{% endblock %}

{% block content %}
<div class="row">
    <div class="col">
        <h2>Iniciar Sesi&oacute;n</h2>
        <hr>
        <form method="post" class="form">
            {% csrf_token %}
            {% bootstrap_form form %}
            {% buttons %}
                <br>
                <button type="submit" class="btn btn-success btn-lg">Iniciar</button>
            {% endbuttons %}
        </form>
        <a href="{% url 'create-alumno' %}"> <button type="submit" class="btn btn-success btn-lg">Registrarme</button> </a>
    </div>
</div>
{% endblock %}
