{% extends "base.html" %}

{% block content %}
    <div class="row">
        <div class="col">
            <h2>Empresas</h2>
            <table class="table table-sm table-hover">
                <thead>
                    <tr>
                        <th>Empresa</th>
                        <th>Área</th>
                        <th>Horario</th>
                        <th style="text-align: center;">Rentada</th>
                        <th style="text-align: center;">Postulado</th>
                    </tr>
                </thead>
                <tbody>
                    {% for puesto in puesto_list %}
                        <tr data-link="row" class="rowlink">
                            <td>
                                <a href="{% url 'puesto-detail-alumno' puesto.pk %}">{{ puesto.empresa.nombre_fantasia }}</a>
                            </td>
                            <td>
                                {{ puesto.get_nombre_display }}
                            </td>
                            <td>
                                {{ puesto.horario }}
                            </td>
                            <td align="center">
                                {% if puesto.rentado %} <i class="fas fa-check"></i> {% else %} <i class="fas fa-times"></i> {% endif %}
                            </td>
                            <td align="center">
                                {% if puesto.postulacion %} <i class="fas fa-check"></i> {% else %} <i class="fas fa-times"></i> {% endif %}
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}