{% extends "base.html" %}

{% block content %}
    <div class="row">
        <div class="col">
            <h2>Entrevistas</h2>
            <table class="table">
                <thead>
                    <tr>
                        <th>Empresa</th>
                        <th>Fecha</th>
                        <th>Comentarios de la Empresa</th>
                    </tr>
                </thead>
                <tbody>
                    {% for entrevista in entrevista_list %}
                        <tr>
                            <td>
                                <a href="{% url 'detail-alumno' %}">{{ entrevista.empresa }}</a>
                            </td>
                            <td>
                                {{ entrevista.fecha }}
                            </td>
                            <td>
                                {{ entrevista.resultado }}
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}