{% extends "base.html" %}
{% load bootstrap4 %}

{% block content %}
    <div class="row">
        <div class="col">
            <h2 style="margin-bottom: 20px;"> <img height="8%;" width="8%;" src="{{ puesto.empresa.logo.url }}"/> {{ puesto.empresa.user.first_name }} {{ puesto.empresa.user.last_name }}</h2>
                {% if puesto.get_nombre_display %}
                    <p><b>&Aacute;rea</b>: {{puesto.get_nombre_display}}</p>
                {% endif %}
                {% if puesto.horario %}
                    <p><b>Horario</b>: {{puesto.horario}}</p>
                {% endif %}
                {% if puesto.rentada %}
                    <p><b>Rentada</b>: Si</p>
                {% if puesto.rentada %}
                    <p><b>Rentada</b>: No</p>
                {% endif %}
                {% buttons %}
                <br>
                {% if not postulacion %}
                    <form class="form-inline my-2 my-lg-0" method="post" action="{% url 'postulaciones-create-alumno' %}">
                        {% csrf_token %}
                        <input type="hidden" name="puesto_id" value="{{ puesto.pk }}">
                        <button onClick="javascript: return confirm('¿Est&aacute; seguro que desea POSTULARSE para el área &#34;{{puesto.get_nombre_display}}&#34; en {{ puesto.empresa.user.first_name }} {{ puesto.empresa.user.last_name }}?');" class="btn btn-primary btn-md" type="submit">Postularme</button>
                    </form>
                {% else %}
                    <form class="form-inline my-2 my-lg-0" method="post" action="{% url 'postulaciones-delete-alumno' %}">
                        {% csrf_token %}
                        <input type="hidden" name="postulacion_id" value="{{ postulacion.pk }}">
                        <button onClick="javascript: return confirm('¿Est&aacute; seguro que desea DEJAR DE POSTULARSE para el área &#34;{{puesto.get_nombre_display}}&#34; en {{ puesto.empresa.user.first_name }} {{ puesto.empresa.user.last_name }}?');" class="btn btn-danger btn-md" type="submit">Quitar postulaci&oacute;n</button>
                    </form>
                {% endif %}
                {% endbuttons %}
        </div>
    </div>
{% endblock %}