{% extends "base.html" %}

{% block content %}
    <div class="row">
        <div class="col">
            <h2>Postulaciones Activas</h2>
            <table class="table table-sm table-hover">
                <thead>
                    <tr>
                        <th>Alumno</th>
                        <th>Puesto</th>
                        <th>Empresa</th>
                        <th>Fecha de Postulación</th>
                        <th>Entrevista Asignada</th>
                    </tr>
                </thead>
                <tbody>
                    {% for postulacion in postulacion_list %}
                        <tr>
                            <td>
                                <a href="{% url 'detail-alumno' %}">{{ postulacion.alumno.user.last_name }}, {{ postulacion.alumno.user.first_name }}</a>
                            </td>
                            <td>
                                {{ postulacion.puesto.get_nombre_display }}
                            </td>
                            <td>
                                {{ postulacion.puesto.empresa.nombre_fantasia }}
                            </td>
                            <td>
                                {{ postulacion.fecha }}
                            </td>
                            <td>
                                {% if postulacion.entrevista %}
                                    Si
                                {% else %}
                                    No Posee
                                {% endif %}
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}