{% extends "base.html" %}
{% load bootstrap4 %}
{% block content %}
    <div class="row">
        <div class="col" style="width: 100%;">
            <h4>Estudiantes</h4>
            <table class="table table-sm table-hover">
                <thead>
                    <tr>
                        <th>Apellido</th>
                        <th>Nombre</th>
                        <th>Carrera</th>
                        <th>Email</th>
                        <th style="white-space: nowrap;">Comentarios Visibles</th>
                    </tr>
                </thead>
                <tbody>
                    {% for alumno in alumno_list %}
                        <tr class="table-row" data-href="{% url 'alumno-detail-subcomision-carrera' alumno.numero_registro %}">
                            <td>
                                {{ alumno.user.last_name }}
                            </td>
                            <td>
                                {{ alumno.user.first_name }}
                            </td>
                            <td>
                                {{ alumno.carrera.nombre }}
                            </td>
                            <td>
                                {{ alumno.user.email }}
                            </td>
                            <td>
                                {% if alumno.comentarios_carrera_visibles %}
                                    <i class="material-icons">check</i>
                                {% else %}
                                    <i class="material-icons">close</i>
                                {% endif %}
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
            <div align="center">{% bootstrap_pagination alumno_list size="small" pages_to_show=5 %}</div>
        </div>
    </div>
{% endblock %}