{% extends "base.html" %}
{% load material_form %}

{% block content %}
    {{ subcomision_carrera_form.media }}
    <div class="row">
        <div class="col">
            <h4>Subcomisi&oacute;n de Pr&aacute;ctias</h4>
            <br>
            <form method="post" class="form">
                {% csrf_token %}
                {% form form=user_form %}{% endform %}
                {% form form=subcomision_carrera_form %}{% endform %}
                <button type="submit" class="btn btn-primary btn-md">Guardar</button>
                <a href="/accounts/password_change"><button class="btn btn-outline-primary btn-md" type="button" style="float: right;">Cambiar Contrase&ntilde;a</button></a>
            </form>
        </div>
    </div>

{% endblock %}