{% extends "base.html" %}
{% load bootstrap4 %}

{% block content %}
    <div class="row">
        <div class="col">
             <div style="margin-bottom: 20px; display: flex; align-items: center;">
                 {% if empresa.logo %} <img height="120rem;" width="120rem;" src="{% url 'descarga-empresa-logo' empresa.pk %}"/>
                 {% else %} <i class="far fa-user fa-4x"></i>
                 {% endif %}
                <h2 style="margin-left: 2rem; margin-left: 2rem;">
                    {{ empresa.nombre_fantasia }}
                </h2>
             </div>
            <form method="post" class="form">
                {% csrf_token %}
                {% bootstrap_form form exclude='logo,nombre_fantasia' %}
                {% buttons %}
                    <br>
                    <a href="#" onclick="history.back();return false"><button class="btn btn-outline-primary btn-lg" type="button" style="float: left;">Atr&aacute;s</button></a>
                {% endbuttons %}
            </form>
        </div>
    </div>
{% endblock %}