{% extends "base.html" %}
{% load bootstrap4 %}
{% block content %}
    <div class="row">
        <div class="col" style="width: 100%;">
            <h4>Empresas</h4>
            <table class="table table-sm table-hover">
                <thead>
                    <tr>
                        <th>Nombre</th>
                        <th>Email</th>
                        <th>Url</th>
                        <th style="white-space: nowrap;">Cantidad de postulados</th>
                        <th style="white-space: nowrap;">Cantidad de pasantes</th>
                    </tr>
                </thead>
                <tbody>
                    {% for empresa in empresa_list %}
                        <tr class="table-row" data-href="{% url 'empresa-detail-subcomision-carrera' empresa.pk %}">
                            <td>
                                {{ empresa.nombre_fantasia }}
                            </td>
                            <td>
                                {{ empresa.user.email }}
                            </td>
                            <td>
                                {{ empresa.url }}
                            </td>
                            <td>
                                {{ empresa.get_cantidad_de_postulados }}
                            </td>
                            <td>
                                {{ empresa.get_cantidad_de_pasantes }}
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
            <div align="center" style="display: -webkit-box;">{% bootstrap_pagination empresa_list size="small" pages_to_show=5 %}</div>
        </div>
    </div>
{% endblock %}