{% extends "base.html" %}
{% load bootstrap4 %}
{% block content %}
    <div class="row">
        <div class="col" style="width: 100%;">
            <h4>Empresas</h4>
            <form action="{{request.get_full_path}}" method="get" class="form">
                <div class="row">
                    <div class="input-field col s6">
                        <i class="material-icons prefix">search</i>
                        <input name="q" id="id_buscador" type="text" value="{{ request.GET.q }}">
                        <label for="id_buscador">Buscador...</label>
                        <span style="margin-top:-1em;" class="helper-text" data-error="wrong" data-success="right">Empresa</span>
                    </div>
                    {% if request.GET.q %}
                        <div class="input-field col s4">
                            <a href="{{request.path}}"><i class="material-icons prefix">clear</i></a>
                        </div>
                    {% endif %}
                </div>
            </form>
            <table class="table table-sm table-hover">
                <thead>
                    <tr>
                        <th>Nombre</th>
                        <th>Email</th>
                        <th>Activa</th>
                        <th style="white-space: nowrap;">Cantidad de postulados</th>
                        <th style="white-space: nowrap;">Cantidad de pasantes</th>
                    </tr>
                </thead>
                <tbody>
                    {% for empresa in empresa_list %}
                        <tr class="table-row" data-href="{% url 'empresa-detail-subcomision-carrera' empresa.pk %}">
                            <td>
                                {{ empresa.nombre_fantasia }}
                            </td>
                            <td>
                                {{ empresa.user.email }}
                            </td>
                            <td>
                                {% if empresa.activa %}
                                    Si
                                {% else %}
                                    No
                                {% endif %}
                            </td>
                            <td>
                                {{ empresa.get_cantidad_de_postulados }}
                            </td>
                            <td>
                                {{ empresa.get_cantidad_de_pasantes }}
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
            <div align="center">{% bootstrap_pagination empresa_list size="small" pages_to_show=5 extra=request.GET.urlencode %}</div>
        </div>
    </div>
{% endblock %}