{% extends "base.html" %}
{% load bootstrap4 %}
{% block content %}
    <div class="row">
        <div class="col" style="width: 100%;">
            <h4>Entrevistas</h4>
            <table class="table table-sm table-hover">
                <thead>
                    <tr>
                        <th>Alumno</th>
                        <th>Empresa</th>
                        <th>Fecha</th>
                        <th>Estado</th>
                        <th>Pasant&iacute;a</th>
                    </tr>
                </thead>
                <tbody>
                    {% for entrevista in entrevista_list %}
                        <tr class="table-row" data-href="{% url 'entrevista-detail-subcomision-carrera' entrevista.pk %}">
                            <td>
                                {{ entrevista.alumno }}
                            </td>
                            <td>
                                {{ entrevista.empresa }}
                            </td>
                            <td>
                                {{ entrevista.fecha }}
                            </td>
                            <td>
                                {% if entrevista.status == 'CAA' %}
                                    <span style="color:red;">Cancelada por el alumno</span>
                                {% else %}
                                    {% if entrevista.status == 'CAE' %}
                                        <span style="color:red;">Cancelada por la empresa</span>
                                    {% else %}
                                        {% if entrevista.status == 'COA' or entrevista.status == 'REA' %}
                                            {% if entrevista.is_past_due or entrevista.status == 'REA' %}
                                                {% if entrevista.resultado %}
                                                    <span> Realizada, con respuesta </span>
                                                {% else %}
                                                    <span> Realizada, sin respuesta </span>
                                                {% endif %}
                                            {% else %}
                                                <span style="color:green;"> ACTIVA </span>
                                            {% endif %}
                                        {% else %}
                                            {% if entrevista.is_past_due %}
                                                <span style="color:red;">Se excedi&oacute; la fecha y no confirm&oacute;</span>
                                            {% else %}
                                                <span style="color:orange;">A la espera de confirmación</span>
                                            {% endif %}
                                        {% endif %}
                                    {% endif %}
                                {% endif %}
                            </td>
                            <td>
                            {% if entrevista.pasantia %}
                                <a href="{% url 'pasantia-detail-subcomision-carrera' entrevista.pasantia.pk %}?next={{ request.path }}"><button class="btn-small" type="button">Detalle</button></a>
                            {% else %}
                                <a href="#"><button class="btn-small" type="submit">Crear</button></a>
                            {% endif %}
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
            <div align="center" style="display: -webkit-box;">{% bootstrap_pagination entrevista_list size="small" pages_to_show=5 %}</div>
        </div>
    </div>
{% endblock %}