{% extends "base.html" %}
{% load bootstrap4 %}
{% block content %}
    <div class="row">
        <div class="col">
            <h2>Entrevistas</h2>
            <table class="table table-sm table-hover">
                <thead>
                    <tr>
                        <th>Alumno</th>
                        <th>Empresa</th>
                        <th>Fecha</th>
                        <th>Notificado Alumno</th>
                        <th>Confirmada Alumno</th>
                    </tr>
                </thead>
                <tbody>
                    {% for entrevista in entrevista_list %}
                        <tr data-link="row" class="rowlink">
                            <td>
                                <a href="{% url 'entrevista-detail-subcomision-carrera' entrevista.pk %}">{{ entrevista.alumno }}</a>
                            </td>
                            <td>
                                {{ entrevista.empresa }}
                            </td>
                            <td>
                                {{ entrevista.fecha }}
                            </td>
                            <td>
                                {{ entrevista.notificado_alumno }}
                            </td>
                            <td>
                                {{ entrevista.confirmada_alumno }}
                            </td>
                            <td class="rowlink-skip">
                            {% if entrevista.pasantia %}
                                <a href="{% url 'pasantia-detail-subcomision-carrera' entrevista.pasantia.pk %}?next={{ request.path }}">Pansatía</a>
                            {% else %}
                                Crear Pasant&iacute;a
                            {% endif %}
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
            <div align="center" style="display: -webkit-box;">{% bootstrap_pagination entrevista_list size="small" pages_to_show=5 %}</div>
        </div>
    </div>
{% endblock %}