{% extends "base.html" %}
{% load bootstrap4 %}
{% block content %}
    <div class="row">
        <div class="col" style="width: 100%;">
            <div>
                <h4>Pr&aacute;cticas
                    <a href="{% url 'nueva-practica-subcomision-carrera' %}?next={{ request.path }}">
                        <button style="display: inline-block; float: right;" type="submit" class="btn btn-primary btn-md">Nueva Pr&aacute;ctica</button>
                    </a>
                </h4>
            </div>
            <h4></h4>
            <table class="table table-sm table-hover">
                <thead>
                    <tr>
                        <th>Estudiante</th>
                        <th>Empresa</th>
                        <th>Fecha de inicio</th>
                        <th>Fecha de fin</th>
                        <th>Tutor Docente</th>
                    </tr>
                </thead>
                <tbody>
                    {% for pasantia in pasantia_list %}
                        <tr class="table-row" data-href="{% url 'pasantia-detail-subcomision-carrera' pasantia.pk %}">
                            <td>
                                {{ pasantia.alumno }}
                            </td>
                            <td>
                                {{ pasantia.empresa }}
                            </td>
                            <td>
                                {{ pasantia.fecha_inicio }}
                            </td>
                            <td>
                                {{ pasantia.fecha_fin }}
                            </td>
                            <td>
                                {{ pasantia.tutor_docente }}
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
            <div align="center">{% bootstrap_pagination pasantia_list size="small" pages_to_show=5 %}</div>
        </div>
    </div>
{% endblock %}