{% extends "base.html" %}
{% load material_form %}

{% block content %}
    <div class="row">
        <div class="col m8">
            <h4>Pr&aacute;ctica de {{ pasantia.entrevista.alumno.user.first_name }} {{ pasantia.entrevista.alumno.user.last_name }}</h4>
            <br>
            <form method="post" class="form">
                {% csrf_token %}
                {% form form=form %}{% endform %}
                    <br>
                <button type="submit" class="btn btn-primary btn-md">Guardar</button>
                <a href="#" onclick="history.back();return false"><button class="btn btn-outline-primary btn-md" type="button" style="float: right;">Atr&aacute;s</button></a>
            </form>
        </div>
    </div>
{% endblock %}