{% extends "base.html" %}
{% load bootstrap4 %}
{% block content %}
    <div class="row">
        <div class="col" style="width: 100%;">
            <h4>Postulaciones</h4>
            <form action="{{request.get_full_path}}" method="get" class="form">
                <div class="row">
                    <div class="input-field col s6">
                        <i class="material-icons prefix">search</i>
                        <input name="q" id="id_buscador" type="text" value="{{ request.GET.q }}">
                        <label for="id_buscador">Buscador...</label>
                        <span style="margin-top:-1em;" class="helper-text" data-error="wrong" data-success="right">Nombre o Apellido del Estudiante, Empresa</span>
                    </div>
                    {% if request.GET.q %}
                        <div class="input-field col s4">
                            <a href="{{request.path}}"><i class="material-icons prefix">clear</i></a>
                        </div>
                    {% endif %}
                </div>
            </form>
            <table class="table table-sm table-hover">
                <thead>
                    <tr>
                        <th>Estudiante</th>
                        <th>Empresa/Organización</th>
                        <th>Puesto</th>
                        <th>Fecha de Postulación</th>
                        <th>Estado de Entrevista</th>
                    </tr>
                </thead>
                <tbody>
                    {% for postulacion in postulacion_list %}
                        <tr class="table-row" data-href="{% url 'alumno-detail-subcomision-carrera' postulacion.alumno.numero_registro %}">
                            <td>
                                {{ postulacion.alumno }}
                            </td>
                            <td>
                                {{ postulacion.puesto.empresa }}
                            </td>
                            <td>
                                {{ postulacion.puesto.get_nombre_display }}
                            </td>
                            <td>
                                {{ postulacion.fecha }}
                            </td>
                            <td>
                                {% if postulacion.entrevista %}
                                    {% if postulacion.entrevista.status == 'CAA' %}
                                        <span style="color:red;">Cancelada por el estudiante</span>
                                    {% else %}
                                        {% if postulacion.entrevista.status == 'CAE' %}
                                            <span style="color:red;">Cancelada por la empresa</span>
                                        {% else %}
                                            {% if postulacion.entrevista.status == 'COA' or postulacion.entrevista.status == 'REA' %}
                                                {% if postulacion.entrevista.is_past_due or postulacion.entrevista.status == 'REA' %}
                                                    {% if postulacion.entrevista.resultado %}
                                                        <span> Realizada, con respuesta </span>
                                                    {% else %}
                                                        <span> Realizada, sin respuesta </span>
                                                    {% endif %}
                                                {% else %}
                                                    <span style="color:green;"> CONFIRMADA </span>
                                                {% endif %}
                                            {% else %}
                                                {% if postulacion.entrevista.is_past_due %}
                                                    <span style="color:red;">Se excedi&oacute; la fecha y no confirm&oacute;</span>
                                                {% else %}
                                                    <span style="color:orange;">A la espera de confirmación</span>
                                                {% endif %}
                                            {% endif %}
                                        {% endif %}
                                    {% endif %}
                                {% else %}
                                    Sin entrevista generada
                                {% endif %}
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
            <div align="center">{% bootstrap_pagination postulacion_list size="small" pages_to_show=5 extra=request.GET.urlencode %}</div>
        </div>
    </div>
{% endblock %}