{% extends "base.html" %}
{% load bootstrap4 %}

{% block content %}
    <div class="row">
        <div class="col m8">
            <div class="col m8" style="display: flex; align-items: center;">
                    {% if puesto.empresa.logo %}
                        <img height="120rem;" width="120rem;" src="{% url 'descarga-empresa-logo' puesto.empresa.pk %}"/>
                    {% else %}
                        <i class="far fa-user fa-4x"></i>
                    {% endif %}
                    <div style="align-items: center; display:  inline; margin-left: 2rem;">
                        <div class="row" style="margin-bottom: 0px; margin-top: 0px;">
                            <h4 style="margin-bottom: 0px;">
                                {% if puesto.empresa.url %}
                                    <a href="{{ puesto.empresa.url }}" target="_blank">{{ puesto.empresa.nombre_fantasia }}</a>
                                {% else %}
                                    {{ puesto.empresa.nombre_fantasia }}
                                {% endif %}
                            </h4>
                        </div>
                    </div>
            </div>
            <div class="col m8">
                {% if puesto.get_nombre_display %}
                    <p><b>&Aacute;rea</b>: {{puesto.get_nombre_display}}</p>
                {% endif %}
                {% if puesto.descripcion_actividades %}
                    <p><b>Actividades</b>: {{puesto.descripcion_actividades}}</p>
                {% endif %}
                {% if puesto.conocimientos_requeridos %}
                    <p><b>Conocimientos requeridos</b>: {{puesto.conocimientos_requeridos}}</p>
                {% endif %}
                {% if puesto.horario %}
                    <p><b>Horario</b>: {{ puesto.horario }}</p>
                {% endif %}
                {% if puesto.rentada %}
                    <p><b>Rentado</b>: Si</p>
                {% else %}
                    <p><b>Rentado</b>: No</p>
                {% endif %}
                {% buttons %}
                <br>
                {% if not puesto.activo %}
                    <span style="color: red">Este puesto no se encuentra disponible para postularse.</span>
                {% else %}
                    <span style="color: green">Actualmente hay {{ numero_alumnos_postulados }} Estudiantes postulados.</span>
                {% endif %}
                <br>
                <button class="btn btn-outline-primary btn-md" type="button" onclick="history.back()" style="margin-top:2em;">Atr&aacute;s</button>
                {% endbuttons %}
            </div>
        </div>
    </div>
{% endblock %}