{% extends "base.html" %}
{% load bootstrap4 %}
{% block content %}
    <div class="row">
        <div class="col" style="width: 100%;">
            <h4>Puestos Ofrecidos</h4>
            <table class="table table-sm table-hover">
                <thead>
                    <tr>
                        <th>Empresa</th>
                        <th>Puesto</th>
                        <th>Rentado</th>
                        <th>Cantidad de Estudiantes Postulados</th>
                        <th>Estado</th>
                    </tr>
                </thead>
                <tbody>
                    {% for puesto in puesto_list %}
                        <tr class="table-row" data-href="{% url 'puesto-detail-subcomision-carrera' puesto.pk %}">
                            <td>
                                {{ puesto.empresa }}
                            </td>
                            <td>
                                {{ puesto.get_nombre_display }}
                            </td>
                            <td>
                                {% if puesto.rentado %}
                                    <i class="material-icons">check</i>
                                {% else %}
                                    <i class="material-icons">close</i>
                                {% endif %}
                            </td>
                            <td>
                                {{ puesto.get_cantidad_alumnos }}
                            </td>
                            <td>
                                {% if puesto.activo %}
                                Activo
                                {% else %}
                                Inactivo
                                {% endif %}
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
            <div align="center">{% bootstrap_pagination puesto_list size="small" pages_to_show=5 %}</div>
        </div>
    </div>
{% endblock %}