{% load static %}
{% include 'material/includes/material_css.html' %}
{% include 'material/includes/material_js.html' %}

<!DOCTYPE html>
<html lang="es">
    <head>
        <link href="{% static 'color-scheme.css' %}" rel="stylesheet" media="screen" />
        <!-- Compiled and minified CSS -->
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">

        <title>{% block title %}{% endblock %}</title>
        <style>
        html,body { height: 100%;  margin: 0; }

        header {
          height: 50px;
          background: lightcyan;
        }

        footer {
          height: 50px;
          background: PapayaWhip;
        }


        /**** Trick: ****/
        body {
          display: table;
          width: 100%;
        }

        footer {
           display: table-row;
        }
</style>
    </head>
    <body>
        <script src="https://code.jquery.com/jquery-3.2.1.min.js" type="text/javascript"></script>
        <!-- Compiled and minified JavaScript -->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
        <!-- Navbar -->
            {% if request.user.tipo == 'AL' %}
                {% include "navbar/alumno.html" %}
            {% elif request.user.tipo == 'CC' %}
                {% include "navbar/subcomisionCarrera.html" %}
            {% elif request.user.tipo == 'CP' %}
                {% include "navbar/subcomisionPasantiasPPS.html" %}
            {% elif request.user.tipo == 'EM' %}
                {% include "navbar/empresa.html" %}
            {% else %}
                {% include "navbar/login.html" %}
            {% endif %}

        <!-- Content -->
        <div id="content" class="container" style="margin-top:30px">
            {% block content %}{% endblock %}
        </div>

        <!-- begin The Footer -->
        <footer class="site-footer" style="border-top: 0px solid;">
        <div class="container" style="margin-top: 20px; margin-bottom: 20px;">
                <div class="col-md-5" style="margin-left: -1em;">
                    <div id="contact" class="footer-widget">
                        <h4 class="footer-widget-title">Departamento de Informática</h4>
                        <span>Universidad Nacional de San Luis<br>Ejército de Los Andes 950 - Bloque II - 1 Piso - Oficina Nº12<br /> San Luis, Argentina - CP 5700<br>+54-266-4520300 int 2133<br>Línea Directa +54-266-4520331<br>secinfo@unsl.edu.ar
                        </span>
                    </div>
                    <a href="https://www.facebook.com/dirinfounsl/?fref=ts" class="fab fa-facebook-square fa-3x"></a>&nbsp;
                    <a href="https://twitter.com/dirinfounsl" class="fab fa-twitter-square fa-3x"></a>
                </div>
            </div><!-- /.row -->
        </div>
        </footer>
        <!-- /.site-footer -->

        <!-- Scripts -->
        {% block script %} {% endblock %}
    </body>
</html>