<!-- templates/registration/login.html -->
{% extends 'base.html' %}
{% load static %}
{% load material_form %}

{% block title %}Login{% endblock %}

{% block content %}
<div class="row">
    <div class="carousel carousel-slider center" id="first_carousel">
        <a class="carousel-item"><img class="responsive-img" src="{% static '/images/carousel_index/1.jpg' %}"></a>
        <a class="carousel-item"><img class="responsive-img" src="{% static '/images/carousel_index/2.jpg' %}"></a>
        <a class="carousel-item"><img class="responsive-img" src="{% static '/images/carousel_index/3.jpg' %}"></a>
        <a class="carousel-item"><img class="responsive-img" src="{% static '/images/carousel_index/4.jpeg' %}"></a>
        <a class="carousel-item"><img class="responsive-img" src="{% static '/images/carousel_index/5.jpg' %}"></a>
        <a class="carousel-item"><img class="responsive-img" src="{% static '/images/carousel_index/6.jpg' %}"></a>
        <a class="carousel-item"><img class="responsive-img" src="{% static '/images/carousel_index/7.jpg' %}"></a>
    </div>
</div>
<div class="row" style="margin-bottom:0px;">
    <div class="col l4 m12 s12">
        <h4>Bienvenido al <b>Sistema de Pasant&iacute;as y Pr&aacute;cticas Profesionales</b>!</h4>
    </div>
    <div class="col l8 m12 s12">
        <blockquote>
            <p><b>Si sos estudiante</b> Aqu&iacute; podr&aacute;s encontrar las ofertas de las empresas e instituciones en b&uacute;squeda de pasantes y talentos. Para ver las postulaciones por favor registrate.</p>
        </blockquote>
        <blockquote>
            <p><b>Si sos empresa/instituci&oacute;n</b> Para poder ofrecer postulaciones y puestos comunicarse a <a style="color:blue" href="mailto:secinfo@unsl.edu.ar">secinfo@unsl.edu.ar</a>
            as&iacute; generamos tu usuario enviando Razón Social y mail de contacto.</p>
        </blockquote>
    </div>
</div>
<div class="row">
    <div class="col l3 m3 s3 offset-l2 offset-m2 offset-s2"><img class="responsive-img" src="{% static '/images/dirinfo.jpg' %}" alt="Dirinfo"></div>
    <div class="col l3 m3 s3 offset-l2 offset-m2 offset-s2"><img class="responsive-img" src="{% static '/images/fcfmyn.svg' %}" alt="FCFMyN"></div>
</div>
<script type="text/javascript">


   document.addEventListener('DOMContentLoaded', function() {
    var elems = document.querySelectorAll('.carousel');
    var instances = M.Carousel.init(elems, {
        fullWidth: true,
        indicators: true
      });
  });
  setInterval(function() {
                $("#first_carousel").carousel('next');
            }, 4000);
</script>
{% endblock %}
