<!-- templates/registration/login.html -->
{% extends 'base.html' %}
{% load material_form %}

{% block title %}Login{% endblock %}

{% block content %}
<div class="row">
    <div class="container col m4" style="min-width:21em;">
        <h5>Bienvenido al <b>Sistema de Pasant&iacute;as y Pr&aacute;cticas Profesionales</b></h5>
        <br>
        <form method="post" class="form">
            {% csrf_token %}
            {% form form=form %}{% endform %}
                <button type="submit" class="btn btn-md">Iniciar Sesi&oacute;n</button>
                <a href="{% url 'create-alumno' %}"><button class="btn btn-md" type="button" style="float: right;">Registrarme</button></a>
        </form>
    </div>
</div>
{% endblock %}
