<!-- templates/registration/login.html -->
{% extends 'base.html' %}
{% load material_form %}

{% block title %}Login{% endblock %}

{% block content %}
<div class="row">
    <div class="col l4 m12 s12 z-depth-3" style="padding-bottom:2em; margin-top:1.3em;">
        <h4><b>Ingres&aacute; tus datos</b></h4>
        <br>
        <form method="post" class="form">
            {% csrf_token %}
            {% form form=form %}{% endform %}
                <button type="submit" class="btn btn-md">Iniciar Sesi&oacute;n</button>
                <a href="{% url 'create-alumno' %}"><button class="btn btn-md" type="button" style="float: right;">Registrarme</button></a>
        </form>
    </div>
    <div class="col l8 m12 s12">
        <h5>Bienvenido al <b>Sistema de Pasant&iacute;as y Pr&aacute;cticas Profesionales</b> de tu Departamento de Informática!</h5>
        <p style="font-size: 1.3em;">Donde el trabajo y las ganas de trabajar se encuentran mutuamente.</p>
        <blockquote>
            <p><b>Sos un alumno y estás buscando tu primer experiencia laboral?</b> Hace click en REGISTRARME! Y comenzá a postularte en las oportunidades que
            tu departamento preparó junto a las empresas más importantes de San Luis, para que vivas una experiencia inolvidable y llena de aprendizajes.</p>
        </blockquote>
        <blockquote>
            <p><b>Sos una empresa y querés ofrecer tus oportunidades a los estudiantes mejor capacitados de la provincia?</b> Contactate con nosotros a <a style="color:blue" href="mailto:secinfo@unsl.edu.ar">secinfo@unsl.edu.ar</a>
            para que podamos coordinar todo lo necesario para formar parte de la vida de los profesionales del futuro.</p>
        </blockquote>
    </div>
</div>
<div class="row">
    <div class="carousel" style="height: 20em;">
    </div>
</div>
<script type="text/javascript">
  $(document).ready(function(){
    //init carousel
    var slider = $('.carousel');
    slider.carousel();

    //add a new item
    slider.append('<a class="carousel-item active" href="#three!"><img src="http://lorempixel.com/250/250/nature/3"></a>');

    $.ajax({
        url: "{% url 'ajax-get-logos-empresas' %}",
        type: 'GET',
        data:  {},
        dataType: "json",
        success: function(data){
            var counter = 1;
            $.each(data, function(idx, obj) {
                if (counter == 1) {
                    slider.append('<a class="carousel-item active" href="#"><img src="/public-documents/{{obj.fields.logo}}"></a>');
                } else {
                    slider.append('<a class="carousel-item " href="#"><img src="/public-documents/{{obj.fields.logo}}"></a>');
                }
            });
        },
        error: function(jqXHR, textStatus, errorThrown) {}
    });


    //remove the 'initialized' class which prevents slider from initializing itself again when it's not needed
    if (slider.hasClass('initialized')){
            slider.removeClass('initialized')
    }

    //just reinit the carousel
    slider..carousel({
        indicators: true
    });
    
    setInterval(function() {
        $('.carousel').carousel('next');
    }, 3000);
  });
</script>
{% endblock %}
