<!-- templates/registration/login.html -->
{% extends 'base.html' %}
{% load material_form %}

{% block title %}Login{% endblock %}

{% block content %}
<div class="row" style="margin-bottom:0px;">
    <div class="col l5 m12 s12 z-depth-3" style="padding-bottom:2em; margin-top:1.3em;">
    {% if validlink %}
        <h4>Ingres&aacute; tu nueva contraseña</h4>
        <form method="POST">
          {% csrf_token %}
          {% form form=form %}{% endform %}
          <input type="submit" class="btn btn-md" value="Cambiar mi contraseña">
        </form>
    {% else %}
        <head>
          <meta http-equiv="Refresh" content="5; URL={% url 'login' %}">
        </head>
        <h2>Link desabilitado</h2>
        <h4>El link de recupero de contraseña es inválido, posiblemente porque ya fue utilizado.</h4>
    {% endif %}
    </div>
</div>
{% endblock %}