<!-- templates/registration/login.html -->
{% extends 'base.html' %}
{% load material_form %}

{% block title %}Login{% endblock %}

{% block content %}
<div class="row">
    <div class="col">
        <h2>Recuperar Contrase&ntilde;a</h2>
        <p>Ingres&aacute; tu mail y seguí las instrucciones.</p>
        <form method="post" class="form">
            {% csrf_token %}
            {% form form=form %}{% endform %}
                <br>
                <button type="submit" class="btn btn-primary btn-md">Cambiar</button>
        </form>
    </div>
</div>
{% endblock %}