<!-- templates/registration/login.html -->
{% extends 'base.html' %}
{% load material_form %}
{% block title %}Login{% endblock %}

{% block content %}
<div class="row">
    <div class="col">
        <h4>Cambio de Contrase&ntilde;a</h4>
        <form method="post" class="form">
            {% csrf_token %}
            {% form form=form %}{% endform %}
            <br>
            <button type="submit" class="btn btn-primary btn-md">Cambiar</button>
            <button class="btn btn-outline-primary btn-md" type="button" style="float: right;" onclick="history.back()">Atr&aacute;s</button>
        </form>
    </div>
</div>
{% endblock %}
